In [1]:
import numpy as np
import pandas as pd

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score, mean_absolute_error

from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
import seaborn as sns

In [2]:
df = pd.read_csv("diamonds_train.csv", index_col=0)

In [3]:
df["carat"] = 10*df["carat"]

df["cut"] = df["cut"].apply(lambda x: x.replace("Fair","0"))
df["cut"] = df["cut"].apply(lambda x: x.replace("Very Good","2"))
df["cut"] = df["cut"].apply(lambda x: x.replace("Good","1"))
df["cut"] = df["cut"].apply(lambda x: x.replace("Ideal","3"))
df["cut"] = df["cut"].apply(lambda x: x.replace("Premium","4"))
df["cut"] = df["cut"].astype(int)

df["color"] = df["color"].apply(lambda x: x.replace("D","10"))
df["color"] = df["color"].apply(lambda x: x.replace("E","9"))
df["color"] = df["color"].apply(lambda x: x.replace("F","8"))
df["color"] = df["color"].apply(lambda x: x.replace("G","6"))
df["color"] = df["color"].apply(lambda x: x.replace("H","5"))
df["color"] = df["color"].apply(lambda x: x.replace("I","4"))
df["color"] = df["color"].apply(lambda x: x.replace("J","0"))
df["color"] = df["color"].astype(int)

df["clarity"] = df["clarity"].apply(lambda x: x.replace("SI1","3"))
df["clarity"] = df["clarity"].apply(lambda x: x.replace("SI2","2"))
df["clarity"] = df["clarity"].apply(lambda x: x.replace("I1","0"))
df["clarity"] = df["clarity"].apply(lambda x: x.replace("IF","10"))
df["clarity"] = df["clarity"].apply(lambda x: x.replace("VVS1","9"))
df["clarity"] = df["clarity"].apply(lambda x: x.replace("VVS2","8"))
df["clarity"] = df["clarity"].apply(lambda x: x.replace("VS1","7"))
df["clarity"] = df["clarity"].apply(lambda x: x.replace("VS2","6"))
df["clarity"] = df["clarity"].astype(int)

In [4]:
# df.drop(df[df["carat"] > 28].index, inplace=True)

In [5]:
df[df["price"] < 800].sort_values(by="price", ascending=False).tail(20)

       carat  cut  color  clarity  depth  table     x     y     z  price
11382    2.3    2      6        8   60.4   58.0  3.97  4.01  2.41    354
23211    3.1    2      0        3   59.4   62.0  4.39  4.43  2.62    353
16123    2.3    2      5        7   61.0   57.0  3.94  3.96  2.41    353
29449    2.3    2      9        6   63.8   55.0  3.85  3.92  2.48    352
9318     3.0    1      4        2   63.3   56.0  4.26  4.30  2.71    351
1162     3.0    1      0        3   63.8   56.0  4.23  4.26  2.71    351
18471    3.0    1      0        3   63.4   54.0  4.23  4.29  2.70    351
35842    3.0    3      4        2   62.0   54.0  4.31  4.34  2.68    348
39266    2.0    4      9        2   60.2   62.0  3.79  3.75  2.27    345
4504     3.2    4      9        0   60.9   58.0  4.38  4.42  2.68    345
33254    3.1    3      0        2   62.2   54.0  4.35  4.37  2.71    344
18590    2.2    4      8        3   60.4   61.0  3.88  3.84  2.33    342
3965     2.3    3      0        7   62.8   56.0  3.93  3.90  2.46    340
20790    3.0    1      0        3   64.0   55.0  4.25  4.28  2.73    339
10624    2.6    2      5        3   61.9   55.0  4.07  4.11  2.53    337
5759     2.2    0      9        6   65.1   61.0  3.87  3.78  2.49    337
37476    2.4    2      4        9   62.3   57.0  3.95  3.98  2.47    336
4163     3.1    1      0        2   63.3   58.0  4.34  4.35  2.75    335
25887    2.1    4      9        3   59.8   61.0  3.89  3.84  2.31    326
31702    2.3    3      9        2   61.5   55.0  3.95  3.98  2.43    326

In [6]:
X = np.array(df[["carat","cut", "color", "clarity"]])
y = np.array(df["price"])

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 235)

In [8]:
svr_rbf = SVR(kernel='rbf', C=10000, gamma="auto", tol=30, epsilon=0.1, max_iter=999999)
svr_rbf.fit(X_train, y_train)

SVR(C=10000, gamma='auto', max_iter=999999, tol=30)

In [9]:
y_test_pred = svr_rbf.predict(X_test)
print(r2_score(y_test, y_test_pred))
np.sqrt(mean_squared_error(y_test, y_test_pred))

0.9795742506375306

554.9965096930122

In [10]:
# C = 10000/ 555.1367153891555 test_size= 0.2
# tol = 0.1 / 555.0697293943762

In [11]:
pd.DataFrame({"y_test":y_test,"y_pred": y_test_pred})

      y_test        y_pred
0       2041   1906.570259
1        640    791.811501
2       3583   3701.291179
3        616    623.128872
4       1243   1227.514686
...      ...           ...
8064   11262  10922.561195
8065    1376   1585.091483
8066    1346   1347.834552
8067   11040  11809.505475
8068    1429   1614.354497

[8069 rows x 2 columns]

### PREDECIR TEST

In [12]:
X_pred = pd.read_csv("diamonds_test.csv", index_col = 0)

In [13]:
X_pred["carat"] = 10*X_pred["carat"]

In [14]:
X_pred["cut"] = X_pred["cut"].apply(lambda x: x.replace("Fair","0"))
X_pred["cut"] = X_pred["cut"].apply(lambda x: x.replace("Very Good","2"))
X_pred["cut"] = X_pred["cut"].apply(lambda x: x.replace("Good","1"))
X_pred["cut"] = X_pred["cut"].apply(lambda x: x.replace("Ideal","3"))
X_pred["cut"] = X_pred["cut"].apply(lambda x: x.replace("Premium","4"))
X_pred["cut"] = X_pred["cut"].astype(int)

In [15]:


X_pred["color"] = X_pred["color"].apply(lambda x: x.replace("D","10"))
X_pred["color"] = X_pred["color"].apply(lambda x: x.replace("E","9"))
X_pred["color"] = X_pred["color"].apply(lambda x: x.replace("F","8"))
X_pred["color"] = X_pred["color"].apply(lambda x: x.replace("G","6"))
X_pred["color"] = X_pred["color"].apply(lambda x: x.replace("H","5"))
X_pred["color"] = X_pred["color"].apply(lambda x: x.replace("I","4"))
X_pred["color"] = X_pred["color"].apply(lambda x: x.replace("J","0"))
X_pred["color"] = X_pred["color"].astype(int)

X_pred["clarity"] = X_pred["clarity"].apply(lambda x: x.replace("SI1","3"))
X_pred["clarity"] = X_pred["clarity"].apply(lambda x: x.replace("SI2","2"))
X_pred["clarity"] = X_pred["clarity"].apply(lambda x: x.replace("I1","0"))
X_pred["clarity"] = X_pred["clarity"].apply(lambda x: x.replace("IF","10"))
X_pred["clarity"] = X_pred["clarity"].apply(lambda x: x.replace("VVS1","9"))
X_pred["clarity"] = X_pred["clarity"].apply(lambda x: x.replace("VVS2","8"))
X_pred["clarity"] = X_pred["clarity"].apply(lambda x: x.replace("VS1","7"))
X_pred["clarity"] = X_pred["clarity"].apply(lambda x: x.replace("VS2","6"))
X_pred["clarity"] = X_pred["clarity"].astype(int)

In [16]:
X_pred = np.array(X_pred[["carat","cut", "color", "clarity"]])

In [17]:
pd.DataFrame(X_pred)

          0    1     2     3
0       3.0  3.0   5.0   2.0
1       3.4  3.0  10.0  10.0
2      15.7  2.0   4.0   6.0
3       3.1  3.0   5.0   6.0
4      15.1  1.0   4.0   9.0
...     ...  ...   ...   ...
13444  10.5  3.0   8.0   2.0
13445   2.7  2.0   6.0   7.0
13446  15.0  4.0  10.0   6.0
13447  17.0  4.0   8.0   2.0
13448   3.0  3.0  10.0   6.0

[13449 rows x 4 columns]

In [18]:
predictions_submit = svr_rbf.predict(X_pred)
predictions_submit

array([  397.22079957,  1897.00610352,  9692.0839319 , ...,
       15287.16971566,  9427.70376394,   739.85683381])

In [19]:
pd.DataFrame(predictions_submit)

                  0
0        397.220800
1       1897.006104
2       9692.083932
3        501.469378
4       9298.257069
...             ...
13444   4682.583394
13445    493.260206
13446  15287.169716
13447   9427.703764
13448    739.856834

[13449 rows x 1 columns]

In [20]:
submission = pd.DataFrame({"id": range(len(predictions_submit)), "price": predictions_submit})

In [22]:
submission.to_csv("submission7.csv", index = False)