# 06 - Combining datasets

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [16]:
import pandas as pd 
import numpy as np 
import random

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [15]:
series1 = pd.Series(np.random.randint(1,5,100))
series2 = pd.Series(np.random.randint(1,4,100))
series3 = pd.Series(np.random.randint(10000,30000,100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [21]:
data = pd.concat([series1,series2,series3], axis=1)
data

    0  1      2
0   4  1  23531
1   3  1  22239
2   2  3  20160
3   4  1  22779
4   4  2  16327
.. .. ..    ...
95  2  3  18567
96  1  1  19189
97  3  1  11436
98  3  2  10059
99  4  3  23710

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [22]:
data.columns = ["bedrs", "bathrs", "price_sqr_meter"]
data

    bedrs  bathrs  price_sqr_meter
0       4       1            23531
1       3       1            22239
2       2       3            20160
3       4       1            22779
4       4       2            16327
..    ...     ...              ...
95      2       3            18567
96      1       1            19189
97      3       1            11436
98      3       2            10059
99      4       3            23710

[100 rows x 3 columns]

### Step 5. Create a column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [25]:
bigcolumn = pd.concat([series1, series2, series3], axis=0)
bigcolumn

0         4
1         3
2         2
3         4
4         4
      ...
95    18567
96    19189
97    11436
98    10059
99    23710
Length: 300, dtype: int32

In [ ]:
bigcolumn = pd.concat([series1, series2, series3], axis=0)
bigcolumn

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [30]:
if bigcolumn.index[-1] == 99:
    print(True)

True

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [31]:
bigcolumn.reset_index(drop=True)

0          4
1          3
2          2
3          4
4          4
       ...
295    18567
296    19189
297    11436
298    10059
299    23710
Length: 300, dtype: int32