### 1. 

En el archivo "logistic_regression_df_class" hemos visto un ejemplo multiclase. Elimina del dataframe todas las filas que se correspondan con la clase valor "1".

Ahora, realiza el ejercicio con el nuevo dataframe:

- ¿Se mejora la precisión del algoritmo con dos clases? ¿por qué?

LogisticRegression() es una clase que tiene varios parámetros de entrada. Investiga (modifica, prueba) los argumentos y comenta si modificando algunas de ellas se mejora el porcentaje de acierto del problema (probar al menos 2 diferentes)

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataframe = pd.read_csv("../data/usuarios_win_mac_lin.csv")
dataframe

     duracion  paginas  acciones  valor  clase
0         7.0        2         4      8      2
1        21.0        2         6      6      2
2        57.0        2         4      4      2
3       101.0        3         6     12      2
4       109.0        2         6     12      2
..        ...      ...       ...    ...    ...
165      13.0        1         7     42      0
166      12.0        1         2      6      0
167      13.0        1         3      9      0
168      13.0        1         7     28      0
169      12.0        1         6     18      0

[170 rows x 5 columns]

In [4]:
dataframe.drop(dataframe[dataframe["clase"] == 1].index, inplace=True)

In [6]:
dataframe.reset_index(inplace=True, drop=True)

In [15]:
dataframe.describe()

         duracion     paginas    acciones       valor       clase
count  130.000000  130.000000  130.000000  130.000000  130.000000
mean    97.180708    2.069231    9.053846   30.769231    0.676923
std    198.611241    1.629136   10.098976   47.961150    0.950034
min      1.000000    1.000000    1.000000    1.000000    0.000000
25%     11.000000    1.000000    3.000000    6.000000    0.000000
50%     12.000000    1.000000    6.000000   15.000000    0.000000
75%     65.250000    2.000000   12.000000   35.000000    2.000000
max    898.000000    9.000000   63.000000  378.000000    2.000000

In [8]:
X = np.array(dataframe.drop(['clase'], axis=1))
y = np.array(dataframe['clase'])
print(y.shape)
X.shape

(130,)

(130, 4)

In [34]:
model = linear_model.LogisticRegression()
model.fit(X,y)
model.score(X, y)

0.9538461538461539

In [12]:
predictions = model.predict(X)
print(predictions)

[2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0
 2 0 0 0 2 0 0 0 0 0 0 0 0 2 0 0 0 0 0]

In [13]:
seed = 7
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, y, test_size=0.2, random_state=seed)
print(X_train.shape)
X_test.shape

(104, 4)

(26, 4)

In [14]:
name='Logistic Regression'
kfold = model_selection.KFold(n_splits=10, random_state=seed,  shuffle=True )
cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring='accuracy')
msg = "%s: %f %s (%f)" % (name, cv_results.mean(), "+-", cv_results.std())

print(cv_results)
print("----------")
print(msg)
print("----------")
print("----------")

[1.         0.90909091 0.90909091 0.90909091 1.         0.8
 1.         1.         0.9        0.8       ]
----------
Logistic Regression: 0.922727 +- (0.074218)
----------
----------

In [16]:
print(model.score(X_train, Y_train))
print(model.score(X_test, Y_test))

0.9519230769230769
0.9615384615384616

In [17]:
predictions = model.predict(X_test)
print(model.score(X=X_test, y=Y_test))
print(accuracy_score(Y_test, predictions))

0.9615384615384616
0.9615384615384616

Sí mejora la precisión

In [30]:
model = linear_model.LogisticRegression(tol=0.75, C=9, solver='liblinear')
model.fit(X,y)
model.score(X, y)

0.7076923076923077

In [31]:
name='Logistic Regression'
kfold = model_selection.KFold(n_splits=10, random_state=seed,  shuffle=True )
cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring='accuracy')
msg = "%s: %f %s (%f)" % (name, cv_results.mean(), "+-", cv_results.std())

print(cv_results)
print("----------")
print(msg)
print("----------")
print("----------")

[0.72727273 0.63636364 0.63636364 0.81818182 0.4        0.6
 0.5        0.8        0.8        0.6       ]
----------
Logistic Regression: 0.651818 +- (0.130229)
----------
----------

In [32]:
print(model.score(X_train, Y_train))
print(model.score(X_test, Y_test))

0.6826923076923077
0.8076923076923077

In [35]:
model = linear_model.LogisticRegression(tol=0.75, C=9)
model.fit(X,y)
model.score(X, y)

0.9615384615384616

In [36]:
name='Logistic Regression'
kfold = model_selection.KFold(n_splits=10, random_state=seed,  shuffle=True )
cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring='accuracy')
msg = "%s: %f %s (%f)" % (name, cv_results.mean(), "+-", cv_results.std())

print(cv_results)
print("----------")
print(msg)
print("----------")
print("----------")

[1.         0.90909091 1.         0.90909091 1.         0.8
 1.         1.         0.9        0.8       ]
----------
Logistic Regression: 0.931818 +- (0.077486)
----------
----------

In [37]:
print(model.score(X_train, Y_train))
print(model.score(X_test, Y_test))

0.9519230769230769
1.0