# Python | day 1 | collections

Lists, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 

Print the created list.

In [1]:
student_list = ["Jonathan Abbondanza", "Javier Araiz", "Nacho Astorga", "Miguel Barquero del Pozo", "José Carlos Batista Rivero", "Juan Bayón Fernández", "Sonia Cobo", "Pablo Díez", "Ignacio A. Fontal Patac", "Leonardo Frazzetto", "Adri Gallardo", "Jorge García Navarro", "María García-Maroto García", "Mauro García-Oliva", "Jorgina Garrido", "Maryam Ghadeki", "Karina Inche", "Pablo Eduardo Martínez Picazo", "Marycruz Meza Rivas", "Isabel Palomares", "Satine", "Marina Serrano", "Jonathan Suárez Cáceres", "Daniel Walker"]
print(student_list)

['Jonathan Abbondanza', 'Javier Araiz', 'Nacho Astorga', 'Miguel Barquero del Pozo', 'José Carlos Batista Rivero', 'Juan Bayón Fernández', 'Sonia Cobo', 'Pablo Díez', 'Ignacio A. Fontal Patac', 'Leonardo Frazzetto', 'Adri Gallardo', 'Jorge García Navarro', 'María García-Maroto García', 'Mauro García-Oliva', 'Jorgina Garrido', 'Maryam Ghadeki', 'Karina Inche', 'Pablo Eduardo Martínez Picazo', 'Marycruz Meza Rivas', 'Isabel Palomares', 'Satine', 'Marina Serrano', 'Jonathan Suárez Cáceres', 'Daniel Walker']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [2]:
empty_list = []

2. Create a list with 5 items, call it **my_list**

In [3]:
my_list = [1, 2, 3, 4, 5]

3. Find the length of **my_list**

In [4]:
print(len(my_list))

5

4. Get the first item, the middle item and the last item of **my_list**

In [14]:
print(my_list[0])
print(my_list[2])
print(my_list[-1])

1
3
5

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [2]:
name = "xinru"
age = 24
height = 1.60
country = "Spain"
python_version = 3

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [19]:
mixed_data_types = [name, age, height, country, python_version]
print(mixed_data_types)

['xinru', 24, 1.6, 'Spain', 3]

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [2]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]


8. Print **it_companies** using print()

In [3]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [4]:
print(len(it_companies))

7

11. Print *Google*

In [5]:
print(it_companies[1])

Google

10. Print the first, middle and last company

In [6]:
print(it_companies[0])
print(it_companies[3])
print(it_companies[-1])

Facebook
Apple
Amazon

11. Assign a new value to the last element of the list

In [7]:
it_companies[-1] = "Samsung"

12. Print the list after modifying one of the companies

In [8]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Samsung']

## Bonus track.

13. Add an IT company to **it_companies**

In [9]:
it_companies.append("IT")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Samsung', 'IT']

14. Check if *Apple* exists in the **it_companies** list.

In [10]:
"Apple" in it_companies

True

15. Sort the list using `sort()` method

In [16]:
it_companies.sort()
print(it_companies)

['Apple', 'Facebook', 'Google', 'IBM', 'IT', 'Microsoft', 'Oracle', 'Samsung']

16. Reverse the list in descending order using `reverse()` method

In [17]:
it_companies.reverse()
print(it_companies)

['Samsung', 'Oracle', 'Microsoft', 'IT', 'IBM', 'Google', 'Facebook', 'Apple']

17. Slice out the first 3 companies from the list

In [18]:
print(it_companies[3:len(it_companies)])

['IT', 'IBM', 'Google', 'Facebook', 'Apple']

18. Remove the last IT company from the list

In [19]:
it_companies.remove("IT")
print(it_companies)

['Samsung', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple']

19. Remove all IT companies from the list

In [12]:
it_companies.clear()
print(it_companies)

[]

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [22]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
end = front_end + back_end
print(end)

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [23]:
print(end[0][0])

HTML

22. From the end list print the 'C' from the word 'CSS'

In [24]:
print(end[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [28]:
tup = ("t",)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [29]:
print(type(tup))

<class 'tuple'>

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [ ]:
#No, it´s not possible because it´s inmmutable

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [14]:
tup = ("T", "H", "E", " ", "B", "R", "I", "D", "G", "E",)
print(tup)

('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [30]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [33]:
my_set = set(lista_repes)
print(my_set)

{'diomedes', 'data', 'clara', 'gabriel', 'science', 'python'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [34]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [39]:
my_list = list(my_set)
print(my_list)

['diomedes', 'data', 'clara', 'gabriel', 'science', 'python']

In [38]:
print(my_list[0])

diomedes