## IMPORT THE NECESSARY LIBRARIES

In [1]:
import pandas as pd 
import numpy as np 

import os, sys
import json
import pymysql

path = os.path.dirname(os.getcwd())
sys.path.append(path)

from src.utils_.sql_tb import read_json, MySQL, upload_sql, select_sql

In [2]:
# Print our path

path

'c:\\Users\\xyang\\OneDrive\\Escritorio\\ARCHIVOS\\THEBRIDGE\\Data-Science-Bootcamp-21\\ENTREGABLES\\00_POYECTO_ML'

### JSON

In [2]:
# read_json file from sql_tb 

settings_file = path + os.sep + "src" + os.sep + "utils_" + os.sep + "bd_info.json"

json_readed = read_json(settings_file)

json_readed

{'IP_DNS': 'consciencesai.com',
 'PORT': 30001,
 'USER': '79045618t',
 'PASSWORD': 'xyang02',
 'BD_NAME': '79045618t_ds_april_2021_db'}

In [4]:
select_sql(json_readed, MySQL, "model_comparasion")

Connected to MySQL server [79045618t_ds_april_2021_db]

,Model,Parameters,Scores
0,CNN,"['keras.layers.Conv2D(filters=128)', 'kernel_s...","[10.198442459106445, 0.43149465322494507]"
1,VGG16,"[['input_shape = (180, 180, 3)', 'include_top=...","[0.9983952641487122, 0.5355871915817261]"
2,ResNet50V2,"[['input_shape = (180, 180, 3)', 'include_top=...","[1.3445806503295898, 0.4564056992530823]"
3,ResNet152v2,"[['input_shape = (180, 180, 3)', 'include_top=...","[1.3596457242965698, 0.4564056992530823]"
4,InceptionV3,"[['input_shape = (180, 180, 3)', 'include_top=...","[1.3566685914993286, 0.4564056992530823]"

## SQL

In [4]:

upload_sql("../resources/five_models.csv", json_readed, MySQL)

In [3]:
# BBDD SETTINGS
IP_DNS = json_readed["IP_DNS"]
PORT = json_readed["PORT"]
USER = json_readed["USER"]
PASSWORD = json_readed["PASSWORD"]
BD_NAME = json_readed["BD_NAME"]

In [4]:
# MY SQL INSTANCE
mysql = MySQL(IP_DNS, USER, PASSWORD, BD_NAME, PORT)

In [9]:
db = mysql.connect()
df = pd.read_sql("select * from model_comparasion", con=db)
df

Connected to MySQL server [79045618t_ds_april_2021_db]

,Model,Parameters,Scores
0,CNN,"['keras.layers.Conv2D(filters=128)', 'kernel_s...","[10.198442459106445, 0.43149465322494507]"
1,VGG16,"[['input_shape = (180, 180, 3)', 'include_top=...","[0.9983952641487122, 0.5355871915817261]"
2,ResNet50V2,"[['input_shape = (180, 180, 3)', 'include_top=...","[1.3445806503295898, 0.4564056992530823]"
3,ResNet152v2,"[['input_shape = (180, 180, 3)', 'include_top=...","[1.3596457242965698, 0.4564056992530823]"
4,InceptionV3,"[['input_shape = (180, 180, 3)', 'include_top=...","[1.3566685914993286, 0.4564056992530823]"

In [5]:
path = "model_comparasion"
con = mysql.connect()

Connected to MySQL server [79045618t_ds_april_2021_db]

In [6]:
curs = con.cursor()

In [7]:
query = """
SELECT *
FROM model_comparasion
"""

In [8]:
my_query = curs.execute(query)
my_query

5

In [9]:
my_query.fetchall()

AttributeError: 'int' object has no attribute 'fetchall'

### Update table to SQL

In [9]:
df = pd.read_csv("../resources/dataframe.csv")
df

,Image,Label,Fullpath,Folder,Size
0,[[[0 0 0]\n [0 0 0]\n [0 0 0]\n ...\n [0 0...,0,c:\Users\xyang\OneDrive\Escritorio\ARCHIVOS\TH...,MildDemented,180x180
1,[[[0 0 0]\n [0 0 0]\n [0 0 0]\n ...\n [0 0...,0,c:\Users\xyang\OneDrive\Escritorio\ARCHIVOS\TH...,MildDemented,180x180
2,[[[0 0 0]\n [0 0 0]\n [0 0 0]\n ...\n [0 0...,0,c:\Users\xyang\OneDrive\Escritorio\ARCHIVOS\TH...,MildDemented,180x180
3,[[[0 0 0]\n [0 0 0]\n [0 0 0]\n ...\n [0 0...,0,c:\Users\xyang\OneDrive\Escritorio\ARCHIVOS\TH...,MildDemented,180x180
4,[[[0 0 0]\n [0 0 0]\n [0 0 0]\n ...\n [0 0...,0,c:\Users\xyang\OneDrive\Escritorio\ARCHIVOS\TH...,MildDemented,180x180
...,...,...,...,...,...
4990,[[[0 0 0]\n [0 0 0]\n [0 0 0]\n ...\n [0 0...,3,c:\Users\xyang\OneDrive\Escritorio\ARCHIVOS\TH...,VeryMildDemented,180x180
4991,[[[0 0 0]\n [0 0 0]\n [0 0 0]\n ...\n [0 0...,3,c:\Users\xyang\OneDrive\Escritorio\ARCHIVOS\TH...,VeryMildDemented,180x180
4992,[[[0 0 0]\n [0 0 0]\n [0 0 0]\n ...\n [0 0...,3,c:\Users\xyang\OneDrive\Escritorio\ARCHIVOS\TH...,VeryMildDemented,180x180
4993,[[[0 0 0]\n [0 0 0]\n [0 0 0]\n ...\n [0 0...,3,c:\Users\xyang\OneDrive\Escritorio\ARCHIVOS\TH...,VeryMildDemented,180x180
4994,[[[0 0 0]\n [0 0 0]\n [0 0 0]\n ...\n [0 0...,3,c:\Users\xyang\OneDrive\Escritorio\ARCHIVOS\TH...,VeryMildDemented,180x180

In [5]:
df

,Model,Parameters,Scores
0,CNN,"['keras.layers.Conv2D(filters=128)', 'kernel_s...","[10.198442459106445, 0.43149465322494507]"
1,VGG16,"[['input_shape = (180, 180, 3)', 'include_top=...","[0.9983952641487122, 0.5355871915817261]"
2,ResNet50V2,"[['input_shape = (180, 180, 3)', 'include_top=...","[1.3445806503295898, 0.4564056992530823]"
3,ResNet152v2,"[['input_shape = (180, 180, 3)', 'include_top=...","[1.3596457242965698, 0.4564056992530823]"
4,InceptionV3,"[['input_shape = (180, 180, 3)', 'include_top=...","[1.3566685914993286, 0.4564056992530823]"

In [7]:
from pandas.io import sql

In [8]:
con = mysql.connect()

Connected to MySQL server [79045618t_ds_april_2021_db]

In [9]:
# df.to_sql(con=con, name='xinru_yang_wang', if_exists='replace')

In [10]:
""""# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user=json_readed["USER"],
                               pw=json_readed["PASSWORD"],
                               db=json_readed["BD_NAME"]))"""

In [11]:
# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine('mysql+pymysql://' + json_readed['USER'] +
                     ':' + json_readed['PASSWORD'] + '@' + json_readed['IP_DNS'] 
                     + ':' + str(json_readed['PORT'])+ '/' + json_readed['BD_NAME'])

In [13]:
# Insert whole DataFrame into MySQL
df.to_sql('xinru_yang_wang', con = engine, if_exists = 'replace', index=False)

In [16]:
mysql.close()

Close connection with MySQL server [79045618t_ds_april_2021_db]

In [10]:
route = path + os.sep + "resources" + os.sep + "dataframe.csv"

In [12]:
upload_sql("xinru_yang_wang", route, json_readed, True)