In [1]:
seq1 = ['foo', 'bar', 'baz']

seq2 = ['one', 'two', 'three']


zipped=dict(zip(seq1,seq2))

print(zipped)

{'foo': 'one', 'bar': 'two', 'baz': 'three'}

In [2]:
seq1 = ['foo', 'bar', 'baz']

seq2 = ['one', 'two', 'three']

seq3 = [True, False, False]

zipped=list(zip(seq1,seq2,seq3))

print(zipped)

unzip, inzip,enzip = zip(*zipped)
print(unzip)
print(inzip)
print(enzip)

[('foo', 'one', True), ('bar', 'two', False), ('baz', 'three', False)]
('foo', 'bar', 'baz')
('one', 'two', 'three')
(True, False, False)

In [3]:
# Mira a ver si está la clave y si está devuelve el valor, si no está, devuelve None por defeto

some_dict = {'foo': 'one', 'bar': 'two', 'baz': 'three'}
print(some_dict.get("foo"))
print(some_dict.get("hey"))
print(some_dict.get("hey"))

one
None
None

## setdefault

In [4]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
        print(by_letter)
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple']}
{'a': ['apple'], 'b': ['bat']}

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [5]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [16]:
from collections import defaultdict
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
by_letter = defaultdict(list)
for word in words:
    print(word[0])
    print(by_letter[word[0]])
    print("-----------------------------------------------------")
    print(by_letter)
    by_letter[word[0]].append(word)

by_letter

a
[]
-----------------------------------------------------
defaultdict(<class 'list'>, {'a': []})
b
[]
-----------------------------------------------------
defaultdict(<class 'list'>, {'a': ['apple'], 'b': []})
b
['bat']
-----------------------------------------------------
defaultdict(<class 'list'>, {'a': ['apple'], 'b': ['bat']})
a
['apple']
-----------------------------------------------------
defaultdict(<class 'list'>, {'a': ['apple'], 'b': ['bat', 'bar']})
b
['bat', 'bar']
-----------------------------------------------------
defaultdict(<class 'list'>, {'a': ['apple', 'atom'], 'b': ['bat', 'bar']})

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

## Function	Alternative syntax	Description
a.add(x)	N/A	Add element x to the set a
a.clear()	N/A	Reset the set a to an empty state, discarding all of its elements
a.remove(x)	N/A	Remove element x from the set a
a.pop()	N/A	Remove an arbitrary element from the set a, raising KeyError if the set is empty
a.union(b)	a | b	All of the unique elements in a and b
a.update(b)	a |= b	Set the contents of a to be the union of the elements in a and b
a.intersection(b)	a & b	All of the elements in both a and b
a.intersection_update(b)	a &= b	Set the contents of a to be the intersection of the elements in a and b
a.difference(b)	a - b	The elements in a that are not in b
a.difference_update(b)	a -= b	Set a to the elements in a that are not in b
a.symmetric_difference(b)	a ^ b	All of the elements in either a or b but not both
a.symmetric_difference_update(b)	a ^= b	Set a to contain the elements in either a or b but not both
a.issubset(b)	<=	True if the elements of a are all contained in b
a.issuperset(b)	>=	True if the elements of b are all contained in a
a.isdisjoint(b)	N/A	True if a and b have no elements in common

In [17]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [18]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

names_of_interest

['Steven']

In [19]:
result = [name for names in all_data for name in names if name.count('e') >= 2]
result

['Steven']

In [21]:
tup = tuple([['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']])
tup

(['John', 'Emily', 'Michael', 'Mary', 'Steven'],
 ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar'])

In [28]:
tupl = []
for x in tup:
    tupl.append(tuple(x))

tupl

[('John', 'Emily', 'Michael', 'Mary', 'Steven'),
 ('Maria', 'Juan', 'Javier', 'Natalia', 'Pilar')]

In [29]:
result = [name for names in tupl for name in names if name.count('e') >= 2]
result

['Steven']