# Test DS-FT April 2021

## Primera parte (tipo test):

https://forms.gle/24Eu5xuFGn6jNKpx9

-----------------

## Segunda parte, ejercicios prácticos:

* El test práctico consta de 5 ejercicios puntuables. 
* Cada uno se puntúa sobre 2,5. 
* La máxima nota es 10.

Antes de comenzar, cambia el nombre del archivo notebook poniéndole delante tu nombre y primer apellido:

* nombre_apellido_test_pract_apr_2021.ipynb

In [1]:
# Escribe tu nombre en la variable:
nombre_y_apellidos = ""

#### Notas y pruebas de apoyo para contestar las preguntas tipo test
Esto no es necesario usarlo aunque verlo aquí te puede dar la respuesta a alguna de las preguntas tipo test.

Cualquier código aunque no esté correcto nos dirá más de ti que no escribir nada.

In [ ]:
# Ejemplo de como queremos ver el código para más de un intento:

# intento 1
your code
# intento 2
your code

In [10]:
# crea todas las celdas que necesites

## Ejercicios prácticos

#### Ejercicio 1.
En este ejercicio se va a crear una lista con los siguientes elementos. Primero, crearemos las variables que luego añadiremos a la lista. Las variables son las siguientes:

1. Crea una variable llamada `num_dni` de tipo Integer que represente el primer número de tu DNI. 
2. Crea una variable llamada `let_dni` de tipo String y que represente la letra de vuestro DNI.
3. Crea una variable llamada `tip_ord` de tipo Boolean True si usas Windows y False si usas Mac.
4. Crea una variable llamada `nada` de tipo None cuyo valor sea None.
5. Crea una variable llamada `lista_deseo` de tipo List que contenga los cuatro objetos que te llevarías a una isla desierta. Cada elemento ha de ser de tipo String y el tamaño de la lista ha de ser 4.
6. Crea una variable llamada `tupla_ropa` de tipo Tuple con la marca de la prenda superior, inferior y calzado que llevas puesto.
7. Crea una variable llamada `dict_info` con dos keys y dos values. Una key es 'nombre', teniendo como value vuestro nombre. Otra key es 'edad', teniendo como value vuestra edad.
8. Crea una variable llamada `flo_hor` con la hora actual separada por punto en vez de dos puntos. Ejemplo: si son las 10:06, el valor de la variable sería 10.06.

Añade todos estos elementos en una lista llamada `lista_examen` en el orden de aparición.

In [1]:
 # tu respuesta aquí
 num_dni = 7
 let_dni = " T "
 tip_ord = True
 nada = None
 lista_deseo = ["libro", "cazuela", "tienda", "colchon"]
 tupla_ropa = ("zara", "pull&bear", "buffalo")
 dict_info = {"nombre" : "Xinru", "edad": 24}
 flo_hor = 10.07

In [2]:
lista_examen = [num_dni, let_dni, tip_ord, nada, lista_deseo, tupla_ropa, dict_info, flo_hor]
print(lista_examen)

[7, ' T ', True, None, ['libro', 'cazuela', 'tienda', 'colchon'], ('zara', 'pull&bear', 'buffalo'), {'nombre': 'Xinru', 'edad': 24}, 10.07]

#### Ejercicio 2. 

Para resolver este ejercicio necesitarás la lista del ejercicio anterior (`lista_examen`). Se recomeinda leer cada punto hasta el final antes de resolver el ejercicio.

Se repite para que quede aún más claro: **SOLO USAR LA VARIABLE** `lista_examen`. Usar las demás variables se calificará como error.  

1. Mostrar por pantalla, sin uso de funciones ni bucles: 
    - El segundo elemento de `lista_deseo` desde `lista_examen`.
    - El calzado que llevas puesto.
    - Vuestro nombre.
    - La hora almacenada concatenada con vuestra edad y el número de vuestro de DNI. No debe haber espacios entre la concatenación.
    - Si tenéis más de 20 años, el primer número de vuestro DNI es mayor a 7 y usas Mac, mostrar la posición 5 de `lista_examen`.

In [11]:
# tu respuesta aquí
print(lista_examen[4][1])

cazuela

In [12]:
print(lista_examen[5][-1])

buffalo

In [29]:
lista_examen[-2]["nombre"]

'Xinru'

In [25]:
lista_examen = [num_dni, let_dni, tip_ord, nada, lista_deseo, tupla_ropa, dict_info, flo_hor]
print(lista_examen)

[7, ' T ', True, None, ['libro', 'cazuela', ' tienda ', 'colchon'], ('zara', 'pull&bear', 'buffalo'), {'nombre': 'Xinru', 'edad': 24}, 10.07]

In [28]:
lista_examen[-2]["edad"]

24

In [36]:
print(lista_examen[-1],lista_examen[-2]["edad"],lista_examen[0],sep="")

10.07247

In [37]:
if (lista_examen[-2]["edad"] > 20) and (lista_examen[0] > 7) and (lista_examen[2] == False):
    print(lista_examen[5])

2. Mostrar por pantalla, con uso de un bucle `for`:
    - Todos los elementos de `lista_examen`.
    - Todos los elementos de `lista_deseo` desde `lista_examen`.
    - Todos los elementos que ocupen una posición menor a 4 en `lista_examen`.

In [38]:
# tu respuesta aquí
for elem in lista_examen:
    print(elem)

7
 T
True
None
['libro', 'cazuela', ' tienda ', 'colchon']
('zara', 'pull&bear', 'buffalo')
{'nombre': 'Xinru', 'edad': 24}
10.07

In [42]:
for elem_d in lista_examen[4]:
    print(elem_d)

libro
cazuela
tienda
colchon

In [43]:
for pos, elem in enumerate(lista_examen):
    if pos < 4:
        print(elem)

7
 T
True
None

3. Mostrar por pantalla, con uso de un bucle while: 
    - Todos los elementos de `tupla_ropa` seguido de la cadena `"-->"` y la `posición` (int) que ocupa en la tupla accediendo desde `lista_examen`. Se aconseja utilizar *`enumerate`*.
    - Cada key de `dict_info` seguido de la cadena ":" seguido de su value desde `lista_examen`.

In [44]:
lista_examen = [num_dni, let_dni, tip_ord, nada, lista_deseo, tupla_ropa, dict_info, flo_hor]
print(lista_examen)

[7, ' T ', True, None, ['libro', 'cazuela', 'tienda', 'colchon'], ('zara', 'pull&bear', 'buffalo'), {'nombre': 'Xinru', 'edad': 24}, 10.07]

In [45]:
len(lista_examen[5])

3

In [48]:
# tu respuesta aquí
contador = 0
while contador < len(lista_examen[5]):
    print(lista_examen[5][contador] + "  -->  " + str(contador))
    contador += 1 
    print("--------------------------------------------")

zara  -->  0
--------------------------------------------
pull&bear  -->  1
--------------------------------------------
buffalo  -->  2
--------------------------------------------

In [49]:
len(lista_examen[-2])

2

In [54]:
lista_examen[-2].items()

dict_items([('nombre', 'Xinru'), ('edad', 24)])

In [3]:
contador = 0
while contador < len(lista_examen[-2]):
    for key, value in lista_examen[-2].items() :
        print( key + " : " + str(value))
    break

nombre : Xinru
edad : 24

#### Ejercicio 3. 

Crea una función `ejercicio_3` que reciba un parámetro `arg1`. Este argumento se utilizará como la lista de tuplas con nombres de los alumnos y alturas de clase. La función ha de retornar la misma lista de tuplas pero sin la tupla que contiene tu nombre. La tupla que contiene tu nombre ha de encontrarse a través del **valor del String** con tu nombre. Es decir, la función borrará la tupla con tu nombre tanto si está en la primera posición, como en la posición N o la última. La función mostrará por pantalla la tupla modificada.

**Notas:** 

*- La lista de nombres y alturas está al final del notebook*

*- Añade la tupla con tu nombre y altura si no apareces en la lista* 

Ejemplos de llamada a la función y lo que devuelve la función en el caso en el que me llamo 'Manuel Alfonso' y con esta 'lista_nombres_alturas':

In [7]:
# NO EJECUTAR ESTA CELDA
lista_nombres_alturas = [("Manuel Alfonso", 1.75),("Jonathan Abbondanza",  1.70),("Nacho Fontal", 1.82)]
ejercicio_3(arg1=lista_nombres_alturas)

[('Jonathan Abbondanza', 1.7), ('Nacho Fontal', 1.82)]

In [9]:
# NO EJECUTAR ESTA CELDA
lista_nombres_alturas = [("Jonathan Abbondanza",  1.70),("Manuel Alfonso", 1.75),("Nacho Fontal", 1.82)]
ejercicio_3(arg1=lista_nombres_alturas)

[('Jonathan Abbondanza', 1.7), ('Nacho Fontal', 1.82)]

In [15]:
lista_nombres_alturas = [("Gabriel Vázquez", 1.75),("Jonathan Abbondanza",  1.70),("Nacho Fontal", 1.82),("Javier Araiz", 1.80),('Jonathan Suarez', 1.86),('Sonia Cobo', 1.73), ('Jorge García', 1.79), ("Mary Meza", 1.52), ('Leonardo Frazzetto', 1.75), ("Nacho Astorga",1.78),("José Carlos Batista",1.70), ("Isabel Palomares", 1.78),("Marina Serrano", 1.54), ("Daniel Walker", 1.87), ("Clara Piniella", 1.66), ("Gina Garrido", 1.63), ("Adrià Gallardo", 1.70), ("María García-Maroto", 1.64), ("Susana Vázquez",1.80), ("Mauro Garcia-Oliva", 1.77), ("Juan Bayon", 1.64), ("Miguel Barquero", 1.85), ("Borja Puig", 1.82), ("Pablo Martínez", 1.81), ("Xinru Yang", 1.60),("Pablo Díez", 1.84),("Karina Inche",1.61)]

lista_nombres_alturas

[('Gabriel Vázquez', 1.75),
 ('Jonathan Abbondanza', 1.7),
 ('Nacho Fontal', 1.82),
 ('Javier Araiz', 1.8),
 ('Jonathan Suarez', 1.86),
 ('Sonia Cobo', 1.73),
 ('Jorge García', 1.79),
 ('Mary Meza', 1.52),
 ('Leonardo Frazzetto', 1.75),
 ('Nacho Astorga', 1.78),
 ('José Carlos Batista', 1.7),
 ('Isabel Palomares', 1.78),
 ('Marina Serrano', 1.54),
 ('Daniel Walker', 1.87),
 ('Clara Piniella', 1.66),
 ('Gina Garrido', 1.63),
 ('Adrià Gallardo', 1.7),
 ('María García-Maroto', 1.64),
 ('Susana Vázquez', 1.8),
 ('Mauro Garcia-Oliva', 1.77),
 ('Juan Bayon', 1.64),
 ('Miguel Barquero', 1.85),
 ('Borja Puig', 1.82),
 ('Pablo Martínez', 1.81),
 ('Xinru Yang', 1.6),
 ('Pablo Díez', 1.84),
 ('Karina Inche', 1.61)]

In [12]:
# tu respuesta aquí
def ejercicio_3(arg1):
    for tupla in arg1: 
        for nombre in tupla:
            if nombre == "Xinru Yang":
                arg1.remove(tupla)
                print("Removed:", tupla)
    return arg1

ejercicio_3(lista_nombres_alturas)

Removed: ('Xinru Yang', 1.6)

[('Gabriel Vázquez', 1.75),
 ('Jonathan Abbondanza', 1.7),
 ('Nacho Fontal', 1.82),
 ('Javier Araiz', 1.8),
 ('Jonathan Suarez', 1.86),
 ('Sonia Cobo', 1.73),
 ('Jorge García', 1.79),
 ('Mary Meza', 1.52),
 ('Leonardo Frazzetto', 1.75),
 ('Nacho Astorga', 1.78),
 ('José Carlos Batista', 1.7),
 ('Isabel Palomares', 1.78),
 ('Marina Serrano', 1.54),
 ('Daniel Walker', 1.87),
 ('Clara Piniella', 1.66),
 ('Gina Garrido', 1.63),
 ('Adrià Gallardo', 1.7),
 ('María García-Maroto', 1.64),
 ('Susana Vázquez', 1.8),
 ('Mauro Garcia-Oliva', 1.77),
 ('Juan Bayon', 1.64),
 ('Miguel Barquero', 1.85),
 ('Borja Puig', 1.82),
 ('Pablo Martínez', 1.81),
 ('Pablo Díez', 1.84),
 ('Karina Inche', 1.61)]

-------------------------------------

#### Ejercicio 4. 

Escribe una función `reverse_number` que reciba dos parámetros. Los parámetros son `cadena` y `n`. `cadena` será un string y `n` un entero. La función debe retornar un string que sea el string `cadena` al revés y que tenga concatenado el número `n` por cada caracter de `cadena`.  


**No se permite:**
- Usar la función built-in `reverse`
- Pasar el string `cadena` a otro tipo de variable (como list)* 
- Usar el `string slicing` [[::-1]]

Ejemplos de llamada a la función y lo que devuelve la función:

--------

>> print(reverse_number(cadena="aloh", n=3))

>>> h3o3l3a3

--------

>> print(reverse_number(cadena="otipep", n=85))

>>> p85e85p85i85t85o85

In [13]:
def reverse_number(cadena, n):
    reversed_word = ""
    for letra in cadena:
        letra = letra + str(n)
        reversed_word = letra + reversed_word
    
    return reversed_word
        
reverse_number("hola", 3)

'a3l3o3h3'

In [14]:
reverse_number("koala",2)

'a2l2a2o2k2'

#### Ejercicio 5:
 Crea una función `ejercicio_5` que reciba dos parámetros `arg1` y `arg2`. `arg1` es la misma lista de tuplas con los nombres y alturas que la del ejercicio 3 y `arg2` representa un nombre. 
Crea un programa que pida al usuario *indefinidamente* un nombre y, cada vez que lo introduzca, intente borrar de `arg1` la tupla con el nombre introducido usando la función `ejercicio_5`:

1. Si existe el nombre `arg2` dentro de la `arg1` la función mostrará por pantalla la tupla modificada

2. Si el nombre `arg2` no está en la lista `arg1` la función mostrará por pantalla el string "Ese 
nombre no está dentro de la lista"

3. Solo en el caso en el que el usuario escriba la palabra *'STOP'* se parará el programa.

**Notas:** 

*- La lista de nombres y alturas está al final del notebook*

*- Añade la tupla con tu nombre y altura si no apareces en la lista*

In [3]:
def ejercicio_5(arg1, arg2):

    while len(arg1) > 0: 
        
        for tupla in arg1: 
            if tupla[0] == arg2: 
                arg1.remove(tupla)
                print(arg1)
            elif tupla[0] != arg2:
                    print(arg2,"Ese nombre no está dentro de la lista")
                    print()
            elif arg2 == "STOP":
                break

        arg2 = input()
        
ejercicio_5(lista_nombres_alturas, input())

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

Xinru Yang Ese nombre no está dentro de la lista

[('Gabriel Vázquez', 1.75), ('Jonathan Abbondanza', 1.7), ('Nacho Fontal', 1.82), ('Javier Araiz', 1.8), ('Jonathan Suarez', 1.86), ('Sonia Cobo', 1.73), ('Jorge García', 1.79), ('Mary Meza', 1.52), ('Leonardo Frazzetto', 1.75), ('Nacho Astorga', 1.78), ('José Carlos Batista', 1.7), ('Isabel Palomares', 1.78), ('Marina Serrano', 1.54), ('Daniel Walker', 1.87), ('Clara Piniella', 1.66), ('Gina Garrido', 1.63), ('Adrià Gallardo', 1.7), ('María García-Maroto', 1.64), ('Susana Vázquez', 1.8), ('Mauro Garcia-Oliva', 1.77), ('Juan Bayon', 1.64), ('Miguel Barquero', 1.85), ('Borja Puig', 1.82), ('Pablo Martínez', 1.81), ('Pablo Díez', 1.84), ('Karina Inche', 1.61)]
Xinru Yang Ese nombre no está dentro de la lista

KeyboardInterrupt: Interrupted by user

In [3]:
def ejercicio_5(arg1, arg2):

    while len(arg1) > 0: 
        
        for tupla in arg1: 
            for elem in tupla:
                if arg2 == elem: 
                    arg1.remove(tupla)
                    print(arg1)
                elif elem != arg2:
                    print(elem,"Ese nombre no está dentro de la lista")
                    print()
                elif arg2 == "STOP":
                    break

        arg2 = input()
        
ejercicio_5(lista_nombres_alturas, input())

# No he conseguido sacarlo del bucle :( )

Gabriel Vázquez Ese nombre no está dentro de la lista

1.75 Ese nombre no está dentro de la lista

Jonathan Abbondanza Ese nombre no está dentro de la lista

1.7 Ese nombre no está dentro de la lista

Nacho Fontal Ese nombre no está dentro de la lista

1.82 Ese nombre no está dentro de la lista

Javier Araiz Ese nombre no está dentro de la lista

1.8 Ese nombre no está dentro de la lista

Jonathan Suarez Ese nombre no está dentro de la lista

1.86 Ese nombre no está dentro de la lista

Sonia Cobo Ese nombre no está dentro de la lista

1.73 Ese nombre no está dentro de la lista

Jorge García Ese nombre no está dentro de la lista

1.79 Ese nombre no está dentro de la lista

Mary Meza Ese nombre no está dentro de la lista

1.52 Ese nombre no está dentro de la lista

Leonardo Frazzetto Ese nombre no está dentro de la lista

1.75 Ese nombre no está dentro de la lista

Nacho Astorga Ese nombre no está dentro de la lista

1.78 Ese nombre no está dentro de la lista

José Carlos Batista Ese nombre no está dentro de la lista

1.7 Ese nombre no está dentro de la lista

Isabel Palomares Ese nombre no está dentro de la lista

1.78 Ese nombre no está dentro de la lista

Marina Serrano Ese nombre no está dentro de la lista

1.54 Ese nombre no está dentro de la lista

Daniel Walker Ese nombre no está dentro de la lista

1.87 Ese nombre no está dentro de la lista

Clara Piniella Ese nombre no está dentro de la lista

1.66 Ese nombre no está dentro de la lista

Gina Garrido Ese nombre no está dentro de la lista

1.63 Ese nombre no está dentro de la lista

Adrià Gallardo Ese nombre no está dentro de la lista

1.7 Ese nombre no está dentro de la lista

María García-Maroto Ese nombre no está dentro de la lista

1.64 Ese nombre no está dentro de la lista

Susana Vázquez Ese nombre no está dentro de la lista

1.8 Ese nombre no está dentro de la lista

Mauro Garcia-Oliva Ese nombre no está dentro de la lista

1.77 Ese nombre no está dentro de la lista

Juan Bayon Ese nombre no está dentro de la lista

1.64 Ese nombre no está dentro de la lista

Miguel Barquero Ese nombre no está dentro de la lista

1.85 Ese nombre no está dentro de la lista

Borja Puig Ese nombre no está dentro de la lista

1.82 Ese nombre no está dentro de la lista

Pablo Martínez Ese nombre no está dentro de la lista

1.81 Ese nombre no está dentro de la lista

[('Gabriel Vázquez', 1.75), ('Jonathan Abbondanza', 1.7), ('Nacho Fontal', 1.82), ('Javier Araiz', 1.8), ('Jonathan Suarez', 1.86), ('Sonia Cobo', 1.73), ('Jorge García', 1.79), ('Mary Meza', 1.52), ('Leonardo Frazzetto', 1.75), ('Nacho Astorga', 1.78), ('José Carlos Batista', 1.7), ('Isabel Palomares', 1.78), ('Marina Serrano', 1.54), ('Daniel Walker', 1.87), ('Clara Piniella', 1.66), ('Gina Garrido', 1.63), ('Adrià Gallardo', 1.7), ('María García-Maroto', 1.64), ('Susana Vázquez', 1.8), ('Mauro Garcia-Oliva', 1.77), ('Juan Bayon', 1.64), ('Miguel Barquero', 1.85), ('Borja Puig', 1.82), ('Pablo Martínez', 1.81), ('Pablo Díez', 1.84), ('Karina Inche', 1.61)]
1.6 Ese nombre no está dentro de la lista

Karina Inche Ese nombre no está dentro de la lista

1.61 Ese nombre no está dentro de la lista

In [1]:
def ejercicio_5(arg1, arg2):

    while len(arg1) > 0: 
        
        for tupla in arg1: 
            for elem in tupla:
                if arg2 == elem: 
                    arg1.remove(tupla)
                    print(arg1)
            if tupla[0] != arg2:
                print(elem,"Ese nombre no está dentro de la lista")
                print()
                
        if arg2 == "STOP":
            break

        arg2 = input()
        
ejercicio_5(lista_nombres_alturas, "Xinru Yang")

NameError: name 'lista_nombres_alturas' is not defined

In [3]:
def ejercicio_5(arg1, arg2):
    while len(arg1) > 0 and arg2 != "STOP": 
        flag = True
        for tupla in arg1: 
            if arg2 == tupla[0]: 
                arg1.remove(tupla)
                flag = False
                print(tupla)
        if flag:
            print("Ese nombre no está dentro de la lista")
        arg2 = input()
        
ejercicio_5(lista_nombres_alturas, input())

Ese nombre no está dentro de la lista
('Xinru Yang', 1.6)
('Nacho Astorga', 1.78)
Ese nombre no está dentro de la lista
Ese nombre no está dentro de la lista
Ese nombre no está dentro de la lista

In [3]:
# Resultado Bueno:

def ejercicio_5(arg1, arg2):
    se_ha_borrado = False
    for tupla in arg1:
        if tupla[0] == arg2:
            arg1.remove(tupla)
            se_ha_borrado = True
            print()
            print("Se ha eliminado:", tupla)
            print()
            print(arg1)
            break
    if se_ha_borrado == False:
        print("Ese nombre no está dentro de la lista")


while True:
    nombre = input("introduce un nombre")
    if nombre == "STOP":
        break
    ejercicio_5(lista_nombres_alturas, nombre)

Se ha eliminado: ('Xinru Yang', 1.6)

[('Gabriel Vázquez', 1.75), ('Jonathan Abbondanza', 1.7), ('Nacho Fontal', 1.82), ('Javier Araiz', 1.8), ('Jonathan Suarez', 1.86), ('Sonia Cobo', 1.73), ('Jorge García', 1.79), ('Mary Meza', 1.52), ('Leonardo Frazzetto', 1.75), ('Nacho Astorga', 1.78), ('José Carlos Batista', 1.7), ('Isabel Palomares', 1.78), ('Marina Serrano', 1.54), ('Daniel Walker', 1.87), ('Clara Piniella', 1.66), ('Gina Garrido', 1.63), ('Adrià Gallardo', 1.7), ('María García-Maroto', 1.64), ('Susana Vázquez', 1.8), ('Mauro Garcia-Oliva', 1.77), ('Juan Bayon', 1.64), ('Miguel Barquero', 1.85), ('Borja Puig', 1.82), ('Pablo Martínez', 1.81), ('Pablo Díez', 1.84), ('Karina Inche', 1.61)]
Ese nombre no está dentro de la lista
Se ha eliminado: ('Gabriel Vázquez', 1.75)

[('Jonathan Abbondanza', 1.7), ('Nacho Fontal', 1.82), ('Javier Araiz', 1.8), ('Jonathan Suarez', 1.86), ('Sonia Cobo', 1.73), ('Jorge García', 1.79), ('Mary Meza', 1.52), ('Leonardo Frazzetto', 1.75), ('Nacho Astorga', 1.78), ('José Carlos Batista', 1.7), ('Isabel Palomares', 1.78), ('Marina Serrano', 1.54), ('Daniel Walker', 1.87), ('Clara Piniella', 1.66), ('Gina Garrido', 1.63), ('Adrià Gallardo', 1.7), ('María García-Maroto', 1.64), ('Susana Vázquez', 1.8), ('Mauro Garcia-Oliva', 1.77), ('Juan Bayon', 1.64), ('Miguel Barquero', 1.85), ('Borja Puig', 1.82), ('Pablo Martínez', 1.81), ('Pablo Díez', 1.84), ('Karina Inche', 1.61)]
Se ha eliminado: ('Jonathan Abbondanza', 1.7)

[('Nacho Fontal', 1.82), ('Javier Araiz', 1.8), ('Jonathan Suarez', 1.86), ('Sonia Cobo', 1.73), ('Jorge García', 1.79), ('Mary Meza', 1.52), ('Leonardo Frazzetto', 1.75), ('Nacho Astorga', 1.78), ('José Carlos Batista', 1.7), ('Isabel Palomares', 1.78), ('Marina Serrano', 1.54), ('Daniel Walker', 1.87), ('Clara Piniella', 1.66), ('Gina Garrido', 1.63), ('Adrià Gallardo', 1.7), ('María García-Maroto', 1.64), ('Susana Vázquez', 1.8), ('Mauro Garcia-Oliva', 1.77), ('Juan Bayon', 1.64), ('Miguel Barquero', 1.85), ('Borja Puig', 1.82), ('Pablo Martínez', 1.81), ('Pablo Díez', 1.84), ('Karina Inche', 1.61)]
Se ha eliminado: ('Borja Puig', 1.82)

[('Nacho Fontal', 1.82), ('Javier Araiz', 1.8), ('Jonathan Suarez', 1.86), ('Sonia Cobo', 1.73), ('Jorge García', 1.79), ('Mary Meza', 1.52), ('Leonardo Frazzetto', 1.75), ('Nacho Astorga', 1.78), ('José Carlos Batista', 1.7), ('Isabel Palomares', 1.78), ('Marina Serrano', 1.54), ('Daniel Walker', 1.87), ('Clara Piniella', 1.66), ('Gina Garrido', 1.63), ('Adrià Gallardo', 1.7), ('María García-Maroto', 1.64), ('Susana Vázquez', 1.8), ('Mauro Garcia-Oliva', 1.77), ('Juan Bayon', 1.64), ('Miguel Barquero', 1.85), ('Pablo Martínez', 1.81), ('Pablo Díez', 1.84), ('Karina Inche', 1.61)]

In [1]:
# La lista a usar del ejercicio 3 y 5. Recuerda añadir la tupla con tu información si no está. 

lista_nombres_alturas = [("Gabriel Vázquez", 1.75),("Jonathan Abbondanza",  1.70),("Nacho Fontal", 1.82),("Javier Araiz", 1.80),('Jonathan Suarez', 1.86),('Sonia Cobo', 1.73), ('Jorge García', 1.79), ("Mary Meza", 1.52), ('Leonardo Frazzetto', 1.75), ("Nacho Astorga",1.78),("José Carlos Batista",1.70), ("Isabel Palomares", 1.78),("Marina Serrano", 1.54), ("Daniel Walker", 1.87), ("Clara Piniella", 1.66), ("Gina Garrido", 1.63), ("Adrià Gallardo", 1.70), ("María García-Maroto", 1.64), ("Susana Vázquez",1.80), ("Mauro Garcia-Oliva", 1.77), ("Juan Bayon", 1.64), ("Miguel Barquero", 1.85), ("Borja Puig", 1.82), ("Pablo Martínez", 1.81), ("Xinru Yang", 1.60),("Pablo Díez", 1.84),("Karina Inche",1.61)]

lista_nombres_alturas

[('Gabriel Vázquez', 1.75),
 ('Jonathan Abbondanza', 1.7),
 ('Nacho Fontal', 1.82),
 ('Javier Araiz', 1.8),
 ('Jonathan Suarez', 1.86),
 ('Sonia Cobo', 1.73),
 ('Jorge García', 1.79),
 ('Mary Meza', 1.52),
 ('Leonardo Frazzetto', 1.75),
 ('Nacho Astorga', 1.78),
 ('José Carlos Batista', 1.7),
 ('Isabel Palomares', 1.78),
 ('Marina Serrano', 1.54),
 ('Daniel Walker', 1.87),
 ('Clara Piniella', 1.66),
 ('Gina Garrido', 1.63),
 ('Adrià Gallardo', 1.7),
 ('María García-Maroto', 1.64),
 ('Susana Vázquez', 1.8),
 ('Mauro Garcia-Oliva', 1.77),
 ('Juan Bayon', 1.64),
 ('Miguel Barquero', 1.85),
 ('Borja Puig', 1.82),
 ('Pablo Martínez', 1.81),
 ('Xinru Yang', 1.6),
 ('Pablo Díez', 1.84),
 ('Karina Inche', 1.61)]