In [2]:
import sys, os

In [9]:
sys.path

['c:\\Users\\xyang\\OneDrive\\Escritorio\\ARCHIVOS\\THEBRIDGE\\Data-Science-Bootcamp-21\\week7_EDA_pbi_map_rss\\day3_review\\relative_imports_review',
 'c:\\Users\\xyang\\.vscode\\extensions\\ms-toolsai.jupyter-2021.6.832593372\\pythonFiles',
 'c:\\Users\\xyang\\.vscode\\extensions\\ms-toolsai.jupyter-2021.6.832593372\\pythonFiles',
 'c:\\Users\\xyang\\.vscode\\extensions\\ms-toolsai.jupyter-2021.6.832593372\\pythonFiles\\lib\\python',
 'C:\\Users\\xyang\\AppData\\Local\\Programs\\Python\\Python37\\python37.zip',
 'C:\\Users\\xyang\\AppData\\Local\\Programs\\Python\\Python37\\DLLs',
 'C:\\Users\\xyang\\AppData\\Local\\Programs\\Python\\Python37\\lib',
 'C:\\Users\\xyang\\AppData\\Local\\Programs\\Python\\Python37',
 '',
 'C:\\Users\\xyang\\AppData\\Roaming\\Python\\Python37\\site-packages',
 'C:\\Users\\xyang\\AppData\\Roaming\\Python\\Python37\\site-packages\\win32',
 'C:\\Users\\xyang\\AppData\\Roaming\\Python\\Python37\\site-packages\\win32\\lib',
 'C:\\Users\\xyang\\AppData\\Roaming\\Python\\Python37\\site-packages\\Pythonwin',
 'C:\\Users\\xyang\\AppData\\Local\\Programs\\Python\\Python37\\lib\\site-packages',
 'C:\\Users\\xyang\\AppData\\Roaming\\Python\\Python37\\site-packages\\IPython\\extensions',
 'C:\\Users\\xyang\\.ipython',
 'c:\\Users\\xyang\\OneDrive\\Escritorio\\ARCHIVOS\\THEBRIDGE\\Data-Science-Bootcamp-21\\week7_EDA_pbi_map_rss\\day3_review\\relative_imports_review\\src',
 'c:\\Users\\xyang\\OneDrive\\Escritorio\\ARCHIVOS\\THEBRIDGE\\Data-Science-Bootcamp-21\\week7_EDA_pbi_map_rss\\day3_review\\relative_imports_review\\src']

In [10]:
import dashboard.a

c:\Users\xyang\OneDrive\Escritorio\ARCHIVOS\THEBRIDGE\Data-Science-Bootcamp-21\week7_EDA_pbi_map_rss\day3_review\relative_imports_review\src

ModuleNotFoundError: No module named 'utils.c'

In [ ]:
s = "ABC\DJSK"
s

In [2]:
import pandas as pd 
path = "C:\\Users\\xyang\\OneDrive\\Escritorio\\ARCHIVOS\\THEBRIDGE\\Data-Science-Bootcamp-21\\week7_EDA_pbi_map_rss\\day3_review\\relative_imports_review\\data\\titanic_cleaned.csv"
print(path.replace("\\", "\\\\"))

C:\\Users\\xyang\\OneDrive\\Escritorio\\ARCHIVOS\\THEBRIDGE\\Data-Science-Bootcamp-21\\week7_EDA_pbi_map_rss\\day3_review\\relative_imports_review\\data\\titanic_cleaned.csv

In [3]:
# Esta es la segunda mejor práctica

df = pd.read_csv("../data/titanic_cleaned.csv")

df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,gender
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",True
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",False
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",True
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",False
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN,True
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN,True
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.50,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN,False
1307,3,0,"Zakarian, Mr. Ortin",male,27.00,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN,False
1308,3,0,"Zimmerman, Mr. Leo",male,29.00,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN,False

In [15]:
# Calculando la ruta del archivo de forma absoluta
# Esta es la mejor práctica
import os

SEP = os.sep
dir = os.path.dirname

dir(os.getcwd()) + SEP + "data" + SEP + "titanic_cleaned.csv"

'c:\\Users\\xyang\\OneDrive\\Escritorio\\ARCHIVOS\\THEBRIDGE\\Data-Science-Bootcamp-21\\week7_EDA_pbi_map_rss\\day3_review\\data\\titanic_cleaned.csv'