In [8]:
import pandas as pd

In [88]:
class Tablero:
    def __init__(self, dataframe):
        self.dataframe = dataframe
        print(dataframe)

In [2]:
 df = pd.DataFrame({1: "~", 2: "~",3: "~",4: "~",5: "~",6: "~",7: "~",8: "~",9: "~",10: "~"},index=[1, 2,3,4,5,6,7,8,9,10])
        
tablero1 = Tablero(df)
print(tablero1)

NameError: name 'Tablero' is not defined

In [82]:
tablero2 = Tablero(df)
tablero2

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

FALLOS A CORREGIR :
- PROCURAR QUE NO SE SOBREPONGAN LOS BARCOS
- DEJAR QUE HAYA UN ESPACIO AL MENOS ENTRE BARCOS, O HACER QUE EL COMIENZO Y EL FINAL DEL BARCO TENGAN UNA FORMA DISTINTA
- NO DEJAR QUE SE SALGAN LAS CASILLAS DEL TABLERO #DONE 
- HAY QUE HACER CLASE CON EL TABLERO?
- HACER QUE SI PONEMOS COORDENADAS DONDE YA HAY BARCO O SI NOS SALIMOS DEL TABLERO NO AUMENTAR EL CONTADOR

In [23]:
tablero1 = pd.DataFrame({1: "~", 2: "~",3: "~",4: "~",5: "~",6: "~",7: "~",8: "~",9: "~",10: "~"},index=[1, 2,3,4,5,6,7,8,9,10])
tablero1

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

In [24]:
class Barco:
    def __init__(self, df): 
        self.df = df

    def colocar_barco(self, size, df):
        self.size = size

        fil = int(input("Introduce la coordenada fila"))
        col = int(input("Introduce la coordenada columna"))

        if df.loc[fil,col] == "#" :
            print("Ops! There´s already a boat,try again!")


        else:
            h_v = input("escribe 'h' si quieres horizontal o 'v' si quieres vertical")

            if h_v == "h":
                if col == 10:
                    print("You´re out of range, try again!")
                else:
                    fil = fil 
                    col_f = col + size -1
            # Creo que aquí habría que meter un if
                    df.loc[fil,col:col_f] = "#"
                    print(tablero1)
            #df.loc[4,5:5+2]

            if h_v == "v":
                if fil == 10:
                    print("You´re boat is out of range, try again!")
                else: 
                    fil_f = fil + size -1
                    col = col
                    df.loc[fil:fil_f,col] = "#"
                    print(tablero1)
            return df

In [25]:
barco_pequeño = Barco(tablero1)
tablero1

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

In [14]:
barco_pequeño.colocar_barco(2,tablero1)

You´re boat is out of range, try again!

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  #  #  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

In [26]:
barco_medio = Barco(tablero1)

In [ ]:
barco_grande = Barco(tablero1)
barco_grande.colocar_barco(4,tablero1)

In [ ]:
barco_gigante = Barco(tablero1)
barco_gigante.colocar_barco(4,tablero1)

In [27]:
if barco_pequeño.colocar_barco(2,tablero1) == False:
    print("False")

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  #  #

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [29]:
def coloca_tus_barcos(n,barco,tamaño):
    contador = 1
    while contador < n: 
        print(f'Coloca el barco{contador} de tamaño {tamaño}')
        print("contador:",contador)
        barco.colocar_barco(2,tablero1)
        contador +=1 

    return tablero1

coloca_tus_barcos(5, barco_pequeño, "pequeño")

Coloca el barco1 de tamaño pequeño
contador: 1
Ops! There´s already a boat,try again!
Coloca el barco2 de tamaño pequeño
contador: 2
   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  #  #  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  #  #  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  #  #
Coloca el barco3 de tamaño pequeño
contador: 3
You´re out of range, try again!
Coloca el barco4 de tamaño pequeño
contador: 4

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# Aquí empezaríamos a jugar colocando los barcos: 
# Hacer un random para saber quién empieza a jugar, dado del 1 al 6, guardar los valores en una variable, y así decidir quien empieza a jugar
coloca_tus_barcos(5, barco_pequeño, "pequeño")
coloca_tus_barcos(4, barco_mediano, "mediano")
coloca_tus_barcos(3, barco_grande, "grande")
coloca_tus_barcos(2, barco_pequeño, "gigante")