In [1]:
import pandas as pd

In [57]:
tablero1 = pd.DataFrame({1: "~", 2: "~",3: "~",4: "~",5: "~",6: "~",7: "~",8: "~",9: "~",10: "~"},index=[1, 2,3,4,5,6,7,8,9,10])
tablero1

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

In [60]:
if tablero1.loc[4,7] == "~":
    print(True)

True

In [49]:
class Barco:
    def __init__(self, df): 
        self.df = df

    def colocar_barco(self, size, df):
        self.size = size

        fil = int(input("Introduce la coordenada fila"))
        col = int(input("Introduce la coordenada columna"))

        if df.loc[fil,col] == "#" :
            print("Ops! There´s already a boat,try again!")
            return False


        else:
            h_v = input("escribe 'h' si quieres horizontal o 'v' si quieres vertical")

            if h_v == "h":
                if col == 10:
                    print("You´re out of range")
                    return False
                else:
                    fil = fil 
                    col_f = col + size -1
            # Creo que aquí habría que meter un if
                    df.loc[fil,col:col_f] = "#"
                    print(tablero1)
                    return df
            #df.loc[4,5:5+2-1]

            if h_v == "v":
                if fil == 10:
                    print("You´re boat is out of range")
                    return False
                else: 
                    fil_f = fil + size -1
                    col = col
                    df.loc[fil:fil_f,col] = "#"
                    print(tablero1)
                    return df

In [13]:
barco_pequeño.colocar_barco(2,tablero1)

   1  2  3  4  5  6  7  8  9  10
1   #  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   #  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  #  #  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  #  #  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

   1  2  3  4  5  6  7  8  9  10
1   #  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   #  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  #  #  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  #  #  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

In [50]:
barco_pequeño = Barco(tablero1)

In [36]:
type(tablero1)

pandas.core.frame.DataFrame

In [56]:
def coloca_tus_barcos(n,barco,tamaño):
    contador = 1
    print("contador1:", contador)
    while contador < n: 
        print(f'Coloca el barco{contador} de tamaño {tamaño}')
        print("contador2:",contador)
        if type(barco.colocar_barco(2,tablero1)) != pd.core.frame.DataFrame:
            print("Try Again!") 
            contador -= 1
        contador += 1

    return tablero1

coloca_tus_barcos(5, barco_pequeño, "pequeño")

contador1: 1
Coloca el barco1 de tamaño pequeño
contador2: 1
   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  #  #  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
Coloca el barco2 de tamaño pequeño
contador2: 2
   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  #  #  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  #  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  #  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
Coloca el barco3 de tamaño pequeño
contador2: 3
   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  #  #  ~  ~  ~  ~  ~
3   ~  ~  ~  #  #  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  #  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  #  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
Coloca el barco4 de tamaño pequeño
contador2: 4
You´re boat is out of range
Try Again!
Coloca el barco4 de tamaño pequeño
contador2: 4
   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  #  #  ~  ~  ~  ~  ~
3   ~  ~  ~  #  #  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  #  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  #  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  #  #  ~  ~  ~  ~  ~  ~

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  #  #  ~  ~  ~  ~  ~
3   ~  ~  ~  #  #  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  #  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  #  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  #  #  ~  ~  ~  ~  ~  ~

In [32]:
def colocar_barco(self, size, df):
        self.size = size

In [33]:
barco1= Barco(tablero1)

In [39]:
if barco1.colocar_barco(3,tablero1) == False:
    print("h")

You´re boat is out of range
h

In [51]:
contador = 1
if barco_pequeño.colocar_barco(2,tablero1) == False:
    print("Try Again!")
    contador -= 1 
while contador < 5: 
    if barco_pequeño.colocar_barco(2,tablero1) == False:
        print("Try Again!")
    else:
        print(f'Coloca el barco{contador} de tamaño')
        print("contador:",contador)
        barco_pequeño.colocar_barco(2,tablero1)
        contador += 1

Ops! There´s already a boat,try again!
Try Again!
   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  #  #  ~  ~  ~  ~
2   ~  #  #  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  #  #  ~  ~  ~  ~  ~
4   ~  ~  ~  #  #  #  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  #  #  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  #  #  ~  ~  ~

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().