In [1]:
import pandas as pd 
from sklearn.datasets import load_iris, load_boston
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import dtale

In [2]:
def lectura_data_inicial():
    # Leemos el DataFrame sobre el que vamos a trabajar
    covid = pd.read_csv("owid-covid-data.csv")

    # Cambiamos el formato de la columna data a datetime
    covid['date'] = pd.to_datetime(covid['date'], format='%Y-%m-%d')

    # Renombramos la columna "location" y la llamamos "country" y "human_development_index": "HDI"
    covid.rename(columns={"location": "country", "human_development_index": "HDI"}, inplace=True)
    
    return covid

In [3]:
covid = lectura_data_inicial()

In [4]:
dtale.show(covid)

In [5]:
""" def filtrar_tabla_fecha():
    # Creamos un DataFrame con las columnas que queremos
    covid_date = covid.filter(["continent", "country", "date", "median_age", "aged_65_older", "aged_70_older", "total_cases", "total_deaths", "hospital_beds_per_thousand", "gdp_per_capita", "HDI"], axis=1)
    crimes = crime.resample('10AS').sum()

    # Eliminamos los valores Nan y reseteamos el índice
    covid_date.dropna(inplace=True)
    covid_date.reset_index(drop=True, inplace=True)
    return covid_date """

' def filtrar_tabla_fecha():\n    # Creamos un DataFrame con las columnas que queremos\n    covid_date = covid.filter(["continent", "country", "date", "median_age", "aged_65_older", "aged_70_older", "total_cases", "total_deaths", "hospital_beds_per_thousand", "gdp_per_capita", "HDI"], axis=1)\n    crimes = crime.resample(\'10AS\').sum()\n\n    # Eliminamos los valores Nan y reseteamos el índice\n    covid_date.dropna(inplace=True)\n    covid_date.reset_index(drop=True, inplace=True)\n    return covid_date '

In [6]:
def filtrar_tabla():
    # Creamos un DataFrame con las columnas que queremos
    covid_data = covid.filter(["date", "continent", "country", "median_age", "aged_65_older", "aged_70_older", "total_cases", "total_deaths", "hospital_beds_per_thousand", "gdp_per_capita", "HDI"], axis=1)

    covid_data["deaths_ratio"] = covid_data["total_deaths"]/covid_data["total_cases"] * 100
    covid_data["non_risky_age"] = 100 - covid_data["aged_65_older"] - covid_data["aged_70_older"]
    covid_data["risky_age"] = 100 - covid_data["non_risky_age"]

    # Eliminamos los valores Nan y reseteamos el índice
    covid_data.dropna(inplace=True)
    covid_data.reset_index(drop=True, inplace=True)
    return covid_data

In [7]:
# Asignamos el valor covid data a la función filtrar tabla

covid_data = filtrar_tabla()
dtale.show(covid_data)

In [8]:
# Make a list with the values in "country"
countries = list(covid_data["country"])
None

In [9]:
# Function to read and change the df
def lectura_data_pobreza(): 

    # Read csv --> df
    pobreza = pd.read_csv("Pobreza.csv", sep=";")

    # Split the icon from the values in column "country"
    pobreza["Country"] = pobreza["Country"].apply(lambda x: x[1:])
    pobreza.rename(columns={"2008-2021":"Poverty %"}, inplace=True)
    pobreza.drop("HDI Rank", axis=1, inplace=True)

    return pobreza

In [10]:
pobreza = lectura_data_pobreza()

In [11]:
def change_name(row_in,new_name):
    pobreza.loc[[row_in], ["Country"]] = new_name
    return pobreza

In [12]:
change_name(149, "Vietnam")
change_name(136, "Timor")
change_name(134, "Tanzania")
change_name(114, "Russia")
change_name(90, "Moldova")
pobreza

       Country  Poverty %
0      Albania       1.10
1      Algeria       0.80
2       Angola      47.90
3    Argentina       1.30
4      Armenia       2.40
..         ...        ...
148    Vanuatu      13.50
149    Vietnam       1.12
150      Yemen      18.11
151     Zambia      57.80
152   Zimbabwe      33.12

[153 rows x 2 columns]

In [13]:
dtale.show(pobreza)

In [14]:
dict_pobreza = dict(pobreza.values)

In [15]:
countries_pobreza = list(pobreza["Country"])

In [16]:
lista = []
for elem in countries: 
    if elem in countries_pobreza:
        lista.append(elem)
    else:
        lista.append(0)

In [19]:
def list_poverty():
    lista_poverty = [dict_pobreza.get(item,item)  for item in lista]
    return lista_poverty

lista_poverty = list_poverty()

In [20]:
len(lista_poverty)

61950

In [21]:
# Add column "Poverty %" to covid_data
covid_data["Poverty %"] = lista_poverty

In [22]:
dtale.show(covid_data)

In [ ]:
def groupby_country(data):
    covid_groupby = data.groupby("country").max()
    covid_groupby.reset_index(inplace=True)

    # Añadimos nuevas columnas: el ratio de muertes y el porcentaje de personas con menos y más riesgo de muerte

    covid_groupby["deaths_ratio"] = covid_groupby["total_deaths"]/covid_groupby["total_cases"] * 100
    covid_groupby["non_risky_age"] = 100 - covid_groupby["aged_65_older"] - covid_groupby["aged_70_older"]
    covid_groupby["risky_age"] = 100 - covid_groupby["non_risky_age"]

    # Reordeno las columnas
    covid_groupby = covid_groupby[["continent", "country", "median_age", "aged_65_older", "aged_70_older", "non_risky_age", "risky_age", "total_cases", "total_deaths", "deaths_ratio", "hospital_beds_per_thousand", "gdp_per_capita", "HDI"]]

    return covid_groupby

In [ ]:
covid_groupby = groupby_country()
dtale.show(covid_groupby)

In [ ]:
covid_groupby = groupby_country()
dtale.show(covid_groupby)