In [1]:
import pandas as pd

In [6]:
dictionary = {}
for pos, elem in enumerate(list(data["Country Name"].values)):
    key = pos
    value = elem
    dictionary[key] = value
dictionary

{0: 'El mundo árabe',
 1: 'Estados pequeos del Caribe',
 2: 'Europa Central y del Báltico',
 3: 'inicial del dividendo demográfico',
 4: 'Asia oriental y el Pacífico',
 5: 'Asia oriental y el Pacífico (excluido altos ingresos)',
 6: 'Asia oriental y el Pacífico (BIRF y la AIF)',
 7: 'Zona del Euro',
 8: 'Europa y Asia central',
 9: 'Europa y Asia central (excluido altos ingresos)',
 10: 'Europa y Asia central (BIRF y la AIF)',
 11: 'Unión Europea',
 12: 'Frágiles y situaciones de conflicto afectados',
 13: 'Países pobres muy endeudados (PPME)',
 14: 'Ingreso alto',
 15: 'Sólo BIRF',
 16: 'BIRF y la AIF',
 17: 'mezcla de la AIF',
 18: 'Sólo AIF',
 19: 'total de la AIF',
 20: 'avanzada del dividendo demográfico',
 21: 'América Latina y el Caribe',
 22: 'América Latina y el Caribe (excluido altos ingresos)',
 23: 'América Latina y el Caribe (BIRF y la AIF)',
 24: 'Países menos desarrollados: clasificación de las Naciones Unidas',
 25: 'Ingreso mediano y bajo',
 26: 'Países de ingreso bajo',
 27: 'Países de ingreso mediano bajo',
 28: 'Oriente Medio y Norte de África',
 29: 'Oriente Medio y Norte de África (excluido altos ingresos)',
 30: 'Oriente Medio y Norte de África (BIRF y la AIF)',
 31: ' Ingreso mediano',
 32: 'América del Norte',
 33: 'No clasificado',
 34: 'Miembros OCDE',
 35: 'Otros Estados pequeos',
 36: 'Estados pequeos de las Islas del Pacfico',
 37: 'posterior al dividendo demográfico',
 38: 'previa al dividendo demográfico',
 39: 'Pequeños Estados',
 40: 'Asia meridional',
 41: 'Asia meridional (BIRF y la AIF)',
 42: 'África al sur del Sahara',
 43: 'África al sur del Sahara (excluido altos ingresos)',
 44: 'África al sur del Sahara (BIRF y la AIF)',
 45: 'Ingreso mediano alto',
 46: 'Mundo',
 47: 'Afganistán',
 48: 'Albania',
 49: 'Argelia',
 50: 'Samoa Americana',
 51: 'Andorra',
 52: 'Angola',
 53: 'Antigua y Barbuda',
 54: 'Argentina',
 55: 'Armenia',
 56: 'Aruba',
 57: 'Australia',
 58: 'Austria',
 59: 'Azerbaiyán',
 60: 'Bahamas',
 61: 'Bahrein',
 62: 'Bangladesh',
 63: 'Barbados',
 64: 'Belarús',
 65: 'Bélgica',
 66: 'Belice',
 67: 'Benin',
 68: 'Bermudas',
 69: 'Bhután',
 70: 'Bolivia',
 71: 'Bosnia y Herzegovina',
 72: 'Botswana',
 73: 'Brasil',
 74: 'Islas Vírgenes Británicas',
 75: 'Brunei Darussalam',
 76: 'Bulgaria',
 77: 'Burkina Faso',
 78: 'Burundi',
 79: 'Cabo Verde',
 80: 'Camboya',
 81: 'Camerún',
 82: 'Canadá',
 83: 'Islas Caimán',
 84: 'República Centroafricana',
 85: 'Chad',
 86: 'Islas del Canal',
 87: 'Chile',
 88: 'China',
 89: 'Colombia',
 90: 'Comoras',
 91: 'Congo, República Democrática del',
 92: 'Congo, República del',
 93: 'Costa Rica',
 94: "Côte d'Ivoire",
 95: 'Croacia',
 96: 'Cuba',
 97: 'Curacao',
 98: 'Chipre',
 99: 'República Checa',
 100: 'Dinamarca',
 101: 'Djibouti',
 102: 'Dominica',
 103: 'República Dominicana',
 104: 'Ecuador',
 105: 'Egipto, República Árabe de',
 106: 'El Salvador',
 107: 'Guinea Ecuatorial',
 108: 'Eritrea',
 109: 'Estonia',
 110: 'Eswatini',
 111: 'Etiopía',
 112: 'Islas Feroe',
 113: 'Fiji',
 114: 'Finlandia',
 115: 'Francia',
 116: 'Polinesia Francesa',
 117: 'Gabón',
 118: 'Gambia',
 119: 'Georgia',
 120: 'Alemania',
 121: 'Ghana',
 122: 'Gibraltar',
 123: 'Grecia',
 124: 'Groenlandia',
 125: 'Granada',
 126: 'Guam',
 127: 'Guatemala',
 128: 'Guinea',
 129: 'Guinea-Bissau',
 130: 'Guyana',
 131: 'Haití',
 132: 'Honduras',
 133: 'Hong Kong, Región Administrativa Especial',
 134: 'Hungría',
 135: 'Islandia',
 136: 'India',
 137: 'Indonesia',
 138: 'Irán, República Islámica del',
 139: 'Iraq',
 140: 'Irlanda',
 141: 'Isla de Man',
 142: 'Israel',
 143: 'Italia',
 144: 'Jamaica',
 145: 'Japón',
 146: 'Jordania',
 147: 'Kazajstán',
 148: 'Kenya',
 149: 'Kiribati',
 150: 'Corea, República Popular Democrática de',
 151: 'Corea, República de',
 152: 'Kosovo',
 153: 'Kuwait',
 154: 'Kirguistán',
 155: 'República Democrática Popular Lao',
 156: 'Letonia',
 157: 'Líbano',
 158: 'Lesotho',
 159: 'Liberia',
 160: 'Libia',
 161: 'Liechtenstein',
 162: 'Lituania',
 163: 'Luxemburgo',
 164: 'Región Administrativa Especial de Macao, China',
 165: 'Madagascar',
 166: 'Malawi',
 167: 'Malasia',
 168: 'Maldivas',
 169: 'Malí',
 170: 'Malta',
 171: 'Islas Marshall',
 172: 'Mauritania',
 173: 'Mauricio',
 174: 'México',
 175: 'Micronesia (Estados Federados de)',
 176: 'República de Moldova',
 177: 'Mónaco',
 178: 'Mongolia',
 179: 'Montenegro',
 180: 'Marruecos',
 181: 'Mozambique',
 182: 'Myanmar',
 183: 'Namibia',
 184: 'Nauru',
 185: 'Nepal',
 186: 'Países Bajos',
 187: 'Nueva Caledonia',
 188: 'Nueva Zelandia',
 189: 'Nicaragua',
 190: 'Níger',
 191: 'Nigeria',
 192: 'Macedonia del Norte',
 193: 'Mariana',
 194: 'Noruega',
 195: 'Omán',
 196: 'Pakistán',
 197: 'Palau',
 198: 'Panamá',
 199: 'Papua Nueva Guinea',
 200: 'Paraguay',
 201: 'Perú',
 202: 'Filipinas',
 203: 'Polonia',
 204: 'Portugal',
 205: 'Puerto Rico',
 206: 'Qatar',
 207: 'Rumania',
 208: 'Federación de Rusia',
 209: 'Rwanda',
 210: 'Samoa',
 211: 'San Marino',
 212: 'Santo Tomé y Príncipe',
 213: 'Arabia Saudita',
 214: 'Senegal',
 215: 'Serbia',
 216: 'Seychelles',
 217: 'Sierra Leona',
 218: 'Singapur',
 219: 'Sint Maarten (Dutch part)',
 220: 'República Eslovaca',
 221: 'Eslovenia',
 222: 'Islas Salomón',
 223: 'Somalia',
 224: 'Sudáfrica',
 225: 'Sudán del Sur',
 226: 'España',
 227: 'Sri Lanka',
 228: 'Saint Kitts y Nevis',
 229: 'Santa Lucía',
 230: 'Isla de San Martín (parte francesa)',
 231: 'San Vicente y las Granadinas',
 232: 'Sudán',
 233: 'Suriname',
 234: 'Suecia',
 235: 'Suiza',
 236: 'República Árabe Siria',
 237: 'Tayikistán',
 238: 'Tanzanía',
 239: 'Tailandia',
 240: 'Timor-Leste',
 241: 'Togo',
 242: 'Tonga',
 243: 'Trinidad y Tobago',
 244: 'Túnez',
 245: 'Turquía',
 246: 'Turkmenistán',
 247: 'Islas Turcas y Caicos',
 248: 'Tuvalu',
 249: 'Uganda',
 250: 'Ucrania',
 251: 'Emiratos Árabes Unidos',
 252: 'Reino Unido',
 253: 'Estados Unidos',
 254: 'Uruguay',
 255: 'Uzbekistán',
 256: 'Vanuatu',
 257: 'Venezuela',
 258: 'Viet Nam',
 259: 'Islas Vírgenes (EE.UU.)',
 260: 'Ribera Occidental y Gaza',
 261: 'Yemen, Rep. del',
 262: 'Zambia',
 263: 'Zimbabwe'}

In [7]:
data = data[47:]
data

                 Country Name Country Code 2018 [YR2018] 2019 [YR2019]
47                 Afganistán          AFG   18353881130   19291104008
48                    Albania          ALB   15147020535   15279183290
49                    Argelia          DZA   1,75406E+11   1,71091E+11
50            Samoa Americana          ASM     636000000            ..
51                    Andorra          AND    3218316013    3154057987
..                        ...          ...           ...           ...
259   Islas Vírgenes (EE.UU.)          VIR            ..            ..
260  Ribera Occidental y Gaza          PSE   16276600000            ..
261           Yemen, Rep. del          YEM   23486270352   22581081994
262                    Zambia          ZMB   26312140829   23309773923
263                  Zimbabwe          ZWE   24311560500   21440758800

[217 rows x 4 columns]

In [8]:
data.reset_index(drop=True)

                 Country Name Country Code 2018 [YR2018] 2019 [YR2019]
0                  Afganistán          AFG   18353881130   19291104008
1                     Albania          ALB   15147020535   15279183290
2                     Argelia          DZA   1,75406E+11   1,71091E+11
3             Samoa Americana          ASM     636000000            ..
4                     Andorra          AND    3218316013    3154057987
..                        ...          ...           ...           ...
212   Islas Vírgenes (EE.UU.)          VIR            ..            ..
213  Ribera Occidental y Gaza          PSE   16276600000            ..
214           Yemen, Rep. del          YEM   23486270352   22581081994
215                    Zambia          ZMB   26312140829   23309773923
216                  Zimbabwe          ZWE   24311560500   21440758800

[217 rows x 4 columns]

In [9]:
pobreza = pd.read_csv("pobreza.csv", sep=";")
pobreza

    HDI Rank     Country  2008-2021
0         69    �Albania       1.10
1         91    �Algeria       0.80
2        148     �Angola      47.90
3         46  �Argentina       1.30
4         81    �Armenia       2.40
..       ...         ...        ...
148      140    �Vanuatu      13.50
149      117   �Viet Nam       1.12
150      179      �Yemen      18.11
151      146     �Zambia      57.80
152      150   �Zimbabwe      33.12

[153 rows x 3 columns]

In [10]:
pobreza["Country"][1][1:]

'Algeria'

In [11]:
pobreza["Country"] = pobreza["Country"].apply(lambda x: x[1:])
pobreza

    HDI Rank    Country  2008-2021
0         69    Albania       1.10
1         91    Algeria       0.80
2        148     Angola      47.90
3         46  Argentina       1.30
4         81    Armenia       2.40
..       ...        ...        ...
148      140    Vanuatu      13.50
149      117   Viet Nam       1.12
150      179      Yemen      18.11
151      146     Zambia      57.80
152      150   Zimbabwe      33.12

[153 rows x 3 columns]

In [12]:
pobreza = pobreza[["Country", "HDI Rank", "2008-2021"]]
pobreza

       Country HDI Rank  2008-2021
0      Albania       69       1.10
1      Algeria       91       0.80
2       Angola      148      47.90
3    Argentina       46       1.30
4      Armenia       81       2.40
..         ...      ...        ...
148    Vanuatu      140      13.50
149   Viet Nam      117       1.12
150      Yemen      179      18.11
151     Zambia      146      57.80
152   Zimbabwe      150      33.12

[153 rows x 3 columns]

In [13]:
pobreza_sort_poverty = pobreza.sort_values(by="2008-2021", ascending=False)
pobreza_sort_poverty

                                Country HDI Rank  2008-2021
80                           Madagascar      164      77.90
29   Congo (Democratic Republic of the)      175      76.90
18                              Burundi      185      71.11
81                               Malawi      174      70.60
55                        Guinea-Bissau      175      67.40
..                                  ...      ...        ...
143                             Ukraine       74       0.00
59                              Iceland        4       0.00
69                           Kazakhstan       51       0.00
8                               Belarus       53       0.00
33                              Czechia       27       0.00

[153 rows x 3 columns]

In [14]:
pobreza["HDI Rank"] = pobreza["HDI Rank"].replace("..", "0")
pobreza["HDI Rank"].values

array(['69', '91', '148', '46', '81', '8', '18', '133', '53', '14', '158',
       '129', '107', '73', '100', '84', '56', '182', '185', '126', '153',
       '16', '188', '187', '43', '85', '83', '156', '149', '175', '62',
       '43', '33', '27', '162', '10', '166', '88', '86', '116', '124',
       '29', '138', '173', '93', '11', '26', '119', '172', '61', '6',
       '138', '32', '127', '178', '175', '170', '132', '40', '4', '131',
       '107', '70', '123', '2', '19', '29', '19', '102', '51', '143',
       '23', '120', '137', '37', '92', '165', '175', '34', '23', '164',
       '174', '62', '95', '184', '28', '157', '66', '74', '136', '90',
       '99', '48', '121', '181', '147', '130', '142', '8', '128', '189',
       '161', '82', '1', '154', '115', '57', '155', '103', '79', '107',
       '35', '38', '49', '52', '160', '86', '111', '135', '168', '64',
       '67', '182', '39', '22', '151', '114', '185', '25', '72', '170',
       '7', '2', '125', '163', '79', '141', '167', '104', '95', '54', '0',
       '159', '74', '31', '13', '17', '55', '140', '117', '179', '146',
       '150'], dtype=object)

In [15]:
pobreza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    153 non-null    object
 1   HDI Rank   153 non-null    object
 2   2008-2021  153 non-null    float64
dtypes: float64(1), object(2)
memory usage: 3.7+ KB

In [16]:
pobreza["HDI Rank"] = pobreza["HDI Rank"].astype(float)

In [17]:
pobreza_sort_HDI = pobreza.sort_values(by="HDI Rank", ascending=False)
pobreza_sort_HDI

                      Country  HDI Rank  2008-2021
100                     Niger     189.0      44.80
22   Central African Republic     188.0      66.60
23                       Chad     187.0      38.70
18                    Burundi     185.0      71.11
127               South Sudan     185.0      42.10
..                        ...       ...        ...
59                    Iceland       4.0       0.00
132               Switzerland       2.0       0.00
64                    Ireland       2.0       0.10
103                    Norway       1.0       0.50
141                    Tuvalu       0.0       3.60

[153 rows x 3 columns]

In [22]:
#for country in pobreza.values:
    #print(country[1],"-->", end=" ")
    #print(country[1][1:])
    #print()
    #country[1] = country[1][1:]
pobreza.rename(columns={"2008-2021":"Poverty %"}, inplace=True)
pobreza.drop("HDI Rank", axis=1, inplace=True)
pobreza

       Country  Poverty %
0      Albania       1.10
1      Algeria       0.80
2       Angola      47.90
3    Argentina       1.30
4      Armenia       2.40
..         ...        ...
148    Vanuatu      13.50
149   Viet Nam       1.12
150      Yemen      18.11
151     Zambia      57.80
152   Zimbabwe      33.12

[153 rows x 2 columns]

In [23]:
pobreza.to_csv("pobreza_ratio.csv")