In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("nutition.csv")

In [5]:
data.iloc[:,:10]

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value
...,...,...,...,...,...,...,...,...,...,...
53387,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value
53388,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value
53389,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value
53390,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value
53391,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value

In [6]:
data.iloc[:,10:20]

,Data_Value,Data_Value_Alt,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Total,Age(years),Education
0,32.0,32.0,NaN,NaN,30.5,33.5,7304.0,Total,NaN,NaN
1,32.3,32.3,NaN,NaN,29.9,34.7,2581.0,NaN,NaN,NaN
2,31.8,31.8,NaN,NaN,30.0,33.6,4723.0,NaN,NaN,NaN
3,33.6,33.6,NaN,NaN,29.9,37.6,1153.0,NaN,NaN,Less than high school
4,32.8,32.8,NaN,NaN,30.2,35.6,2402.0,NaN,NaN,High school graduate
...,...,...,...,...,...,...,...,...,...,...
53387,NaN,NaN,~,Data not available because sample size is insu...,NaN,NaN,NaN,NaN,NaN,NaN
53388,NaN,NaN,~,Data not available because sample size is insu...,NaN,NaN,NaN,NaN,NaN,NaN
53389,NaN,NaN,~,Data not available because sample size is insu...,NaN,NaN,NaN,NaN,NaN,NaN
53390,NaN,NaN,~,Data not available because sample size is insu...,NaN,NaN,NaN,NaN,NaN,NaN
53391,NaN,NaN,~,Data not available because sample size is insu...,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

In [9]:
data = pd.read_csv("owid-covid-data.csv")

In [10]:
data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89674,ZWE,Africa,Zimbabwe,2021-05-14,38535.0,44.0,18.857,1582.0,0.0,0.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
89675,ZWE,Africa,Zimbabwe,2021-05-15,38554.0,19.0,20.000,1582.0,0.0,0.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
89676,ZWE,Africa,Zimbabwe,2021-05-16,38560.0,6.0,20.143,1582.0,0.0,0.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
89677,ZWE,Africa,Zimbabwe,2021-05-17,38572.0,12.0,19.857,1582.0,0.0,0.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
89678,ZWE,Africa,Zimbabwe,2021-05-18,38595.0,23.0,21.000,1583.0,1.0,0.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89679 entries, 0 to 89678
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               89679 non-null  object
 1   continent                              85406 non-null  object
 2   location                               89679 non-null  object
 3   date                                   89679 non-null  object
 4   total_cases                            86654 non-null  float64
 5   new_cases                              86652 non-null  float64
 6   new_cases_smoothed                     85651 non-null  float64
 7   total_deaths                           76856 non-null  float64
 8   new_deaths                             77014 non-null  float64
 9   new_deaths_smoothed                    85651 non-null  float64
 10  total_cases_per_million                86187 non-null  float64
 11  new_cases_per_million                  86185 non-null  float64
 12  new_cases_smoothed_per_million         85189 non-null  float64
 13  total_deaths_per_million               76402 non-null  float64
 14  new_deaths_per_million                 76560 non-null  float64
 15  new_deaths_smoothed_per_million        85189 non-null  float64
 16  reproduction_rate                      72079 non-null  float64
 17  icu_patients                           9026 non-null   float64
 18  icu_patients_per_million               9026 non-null   float64
 19  hosp_patients                          11238 non-null  float64
 20  hosp_patients_per_million              11238 non-null  float64
 21  weekly_icu_admissions                  817 non-null    float64
 22  weekly_icu_admissions_per_million      817 non-null    float64
 23  weekly_hosp_admissions                 1418 non-null   float64
 24  weekly_hosp_admissions_per_million     1418 non-null   float64
 25  new_tests                              40537 non-null  float64
 26  total_tests                            40232 non-null  float64
 27  total_tests_per_thousand               40232 non-null  float64
 28  new_tests_per_thousand                 40537 non-null  float64
 29  new_tests_smoothed                     46891 non-null  float64
 30  new_tests_smoothed_per_thousand        46891 non-null  float64
 31  positive_rate                          43659 non-null  float64
 32  tests_per_case                         43065 non-null  float64
 33  tests_units                            48390 non-null  object
 34  total_vaccinations                     11432 non-null  float64
 35  people_vaccinated                      10675 non-null  float64
 36  people_fully_vaccinated                8175 non-null   float64
 37  new_vaccinations                       9629 non-null   float64
 38  new_vaccinations_smoothed              19179 non-null  float64
 39  total_vaccinations_per_hundred         11432 non-null  float64
 40  people_vaccinated_per_hundred          10675 non-null  float64
 41  people_fully_vaccinated_per_hundred    8175 non-null   float64
 42  new_vaccinations_smoothed_per_million  19179 non-null  float64
 43  stringency_index                       76201 non-null  float64
 44  population                             89088 non-null  float64
 45  population_density                     83437 non-null  float64
 46  median_age                             80628 non-null  float64
 47  aged_65_older                          79716 non-null  float64
 48  aged_70_older                          80180 non-null  float64
 49  gdp_per_capita                         80833 non-null  float64
 50  extreme_poverty                        54728 non-null  float64
 51  cardiovasc_death_rate                  81049 non-null  float64
 52  diabetes_prevalence                    82860 non-null  float64
 53  female_smokers                         63479 non-null  float64
 54  male_smokers                           62546 non-null  float64
 55  handwashing_facilities                 40718 non-null  float64
 56  hospital_beds_per_thousand             73931 non-null  float64
 57  life_expectancy                        85159 non-null  float64
 58  human_development_index                81226 non-null  float64
dtypes: float64(54), object(5)
memory usage: 40.4+ MB

In [27]:
data["continent"].dropna()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89679 entries, 0 to 89678
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               89679 non-null  object
 1   continent                              85406 non-null  object
 2   location                               89679 non-null  object
 3   date                                   89679 non-null  object
 4   total_cases                            86654 non-null  float64
 5   new_cases                              86652 non-null  float64
 6   new_cases_smoothed                     85651 non-null  float64
 7   total_deaths                           76856 non-null  float64
 8   new_deaths                             77014 non-null  float64
 9   new_deaths_smoothed                    85651 non-null  float64
 10  total_cases_per_million                86187 non-null  float64
 11  new_cases_per_million                  86185 non-null  float64
 12  new_cases_smoothed_per_million         85189 non-null  float64
 13  total_deaths_per_million               76402 non-null  float64
 14  new_deaths_per_million                 76560 non-null  float64
 15  new_deaths_smoothed_per_million        85189 non-null  float64
 16  reproduction_rate                      72079 non-null  float64
 17  icu_patients                           9026 non-null   float64
 18  icu_patients_per_million               9026 non-null   float64
 19  hosp_patients                          11238 non-null  float64
 20  hosp_patients_per_million              11238 non-null  float64
 21  weekly_icu_admissions                  817 non-null    float64
 22  weekly_icu_admissions_per_million      817 non-null    float64
 23  weekly_hosp_admissions                 1418 non-null   float64
 24  weekly_hosp_admissions_per_million     1418 non-null   float64
 25  new_tests                              40537 non-null  float64
 26  total_tests                            40232 non-null  float64
 27  total_tests_per_thousand               40232 non-null  float64
 28  new_tests_per_thousand                 40537 non-null  float64
 29  new_tests_smoothed                     46891 non-null  float64
 30  new_tests_smoothed_per_thousand        46891 non-null  float64
 31  positive_rate                          43659 non-null  float64
 32  tests_per_case                         43065 non-null  float64
 33  tests_units                            48390 non-null  object
 34  total_vaccinations                     11432 non-null  float64
 35  people_vaccinated                      10675 non-null  float64
 36  people_fully_vaccinated                8175 non-null   float64
 37  new_vaccinations                       9629 non-null   float64
 38  new_vaccinations_smoothed              19179 non-null  float64
 39  total_vaccinations_per_hundred         11432 non-null  float64
 40  people_vaccinated_per_hundred          10675 non-null  float64
 41  people_fully_vaccinated_per_hundred    8175 non-null   float64
 42  new_vaccinations_smoothed_per_million  19179 non-null  float64
 43  stringency_index                       76201 non-null  float64
 44  population                             89088 non-null  float64
 45  population_density                     83437 non-null  float64
 46  median_age                             80628 non-null  float64
 47  aged_65_older                          79716 non-null  float64
 48  aged_70_older                          80180 non-null  float64
 49  gdp_per_capita                         80833 non-null  float64
 50  extreme_poverty                        54728 non-null  float64
 51  cardiovasc_death_rate                  81049 non-null  float64
 52  diabetes_prevalence                    82860 non-null  float64
 53  female_smokers                         63479 non-null  float64
 54  male_smokers                           62546 non-null  float64
 55  handwashing_facilities                 40718 non-null  float64
 56  hospital_beds_per_thousand             73931 non-null  float64
 57  life_expectancy                        85159 non-null  float64
 58  human_development_index                81226 non-null  float64
dtypes: float64(54), object(5)
memory usage: 40.4+ MB

In [11]:
data.keys()

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [23]:
data.groupby(by="continent").sum()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
continent,,,,,,,,,,,,,,,,,,,,,
Africa,8.390513e+08,4706525.0,4.681292e+06,21306489.0,126889.0,126093.742,5.476708e+07,414669.738,406341.258,9.771977e+05,...,1.251493e+08,593867.4,6655808.137,130777.18,39825.7,424251.5,480645.365,25938.640,1494130.26,12776.224
Asia,6.037361e+09,46709722.0,4.561589e+07,97405998.0,619422.0,602094.806,1.884538e+08,1242326.656,1223188.271,1.888940e+06,...,4.821630e+08,70663.3,5944093.216,189990.09,82308.2,681345.3,792301.697,56530.220,1593874.05,15389.523
Europe,6.744073e+09,46488860.0,4.628165e+07,179502575.0,1055672.0,1050291.012,4.922508e+08,3471901.474,3456861.905,1.016802e+07,...,6.385004e+08,12203.1,4248263.767,130403.86,424438.4,643727.4,124540.095,100414.581,1653693.50,16771.963
North America,6.584901e+09,38461172.0,3.833374e+07,169049750.0,865864.0,863161.957,8.666995e+07,548330.073,542430.508,1.957136e+06,...,1.841559e+08,27527.2,1962534.643,113092.67,41094.0,119329.4,443213.758,23271.400,821709.67,7646.501
Oceania,1.066704e+07,47066.0,4.642018e+04,275690.0,1077.0,1075.615,6.477980e+05,3647.241,3527.319,1.364082e+04,...,4.722825e+07,10800.7,985244.098,42419.34,33336.9,69134.4,29397.526,5231.020,227398.24,2063.312
South America,4.193466e+09,26993962.0,2.663726e+07,118299970.0,735382.0,725277.128,7.792982e+07,551258.392,541212.082,2.261203e+06,...,7.485538e+07,11601.5,999934.733,41751.20,44887.7,88631.7,173010.888,11302.400,410106.52,4117.078

In [28]:
data.groupby(by="location").sum()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
location,,,,,,,,,,,,,,,,,,,,,
Afghanistan,1.629292e+07,63819.0,6.334656e+04,638013.0,2751.0,2733.566,4.185363e+05,1639.407,1627.269,16389.430,...,811794.150,0.0,268663.050,4315.50,0.000,0.000,16985.700,225.000,29173.50,229.950
Africa,8.390513e+08,4706525.0,4.681389e+06,21306489.0,126889.0,126095.428,6.258783e+05,3510.779,3492.001,15893.271,...,0.000,0.0,0.000,0.00,0.000,0.000,0.000,0.000,0.00,0.000
Albania,1.831458e+07,132071.0,1.319557e+05,349067.0,2436.0,2429.306,6.364092e+06,45893.038,45852.984,121296.473,...,5299740.519,493.9,136583.555,4525.92,3187.900,22988.800,0.000,1297.610,35277.93,356.955
Algeria,2.628567e+07,125693.0,1.251869e+05,796772.0,3388.0,3367.714,5.994308e+05,2866.363,2854.823,18169.964,...,6247313.711,224.5,124985.436,3021.77,314.300,13649.600,37599.709,853.100,34519.12,335.852
Andorra,2.229985e+06,13569.0,1.351273e+04,30703.0,127.0,127.026,2.886152e+07,175616.376,174887.900,397372.661,...,0.000,0.0,48346.805,3530.71,12847.000,16745.400,0.000,0.000,37092.39,384.524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.000,0.000000e+00,0.000,0.000,0.000,...,0.000,0.0,0.000,0.00,0.000,0.000,0.000,0.000,4556.58,0.000
World,2.440985e+10,163408028.0,1.615975e+08,585846907.0,3404321.0,3368016.713,3.131556e+06,20963.727,20731.451,75158.682,...,7471626.981,4830.0,112572.810,4110.33,3107.622,16728.705,29042.790,1306.515,35056.14,355.971
Yemen,8.887510e+05,6586.0,6.536846e+03,223217.0,1297.0,1286.453,2.979791e+04,220.846,219.167,7483.994,...,597575.388,7595.2,199981.212,2161.40,3070.400,11796.800,20014.968,282.800,26712.48,189.880
Zambia,1.246588e+07,92520.0,9.237757e+04,192020.0,1263.0,1260.435,6.780847e+05,5032.653,5024.909,10444.976,...,1575310.177,24552.5,100131.073,1682.38,1323.700,10546.900,5951.526,854.000,27281.03,249.368
Zimbabwe,6.058383e+06,38595.0,3.853714e+04,219768.0,1583.0,1581.446,4.076171e+05,2596.726,2592.832,14786.309,...,807404.375,9095.0,130834.550,773.50,680.000,13047.500,15636.175,722.500,26133.25,242.675