# Data Science Bootcamp - The Bridge 
## Precurso
En este notebook vamos a ver, uno a uno, los conceptos básicos de Python. Constarán de ejercicios prácticos acompañados de una explicación teórica dada por el profesor.

Los siguientes enlaces están recomendados para el alumno para profundizar y reforzar conceptos a partir de  ejercicios y ejemplos:

- https://facundoq.github.io/courses/aa2018/res/02_python.html

- https://www.w3resource.com/python-exercises/

- https://www.practicepython.org/

- https://es.slideshare.net/egutierrezru/python-paraprincipiantes

- https://www.sololearn.com/Play/Python#

- https://github.com/mhkmcp/Python-Bootcamp-from-Basic-to-Advanced

Ejercicios avanzados:

- https://github.com/darkprinx/100-plus-Python-programming-exercises-extended/tree/master/Status (++)

- https://github.com/mahtab04/Python-Programming-Practice (++)

- https://github.com/whojayantkumar/Python_Programs (+++)

- https://www.w3resource.com/python-exercises/ (++++)

- https://github.com/fupus/notebooks-ejercicios (+++++)

Tutor de ayuda PythonTutor:

- http://pythontutor.com/

## 1. Variables y tipos

### Cadenas

In [1]:
# Entero - Integer - int
x = 7
# Cadena - String - Lista de caracteres
x = "lorena"
print(x)

x = 7
print(x)

lorena
7

In [2]:
type(x)

int

In [ ]:
# built-in
type

In [3]:
x = 5
y = 7

z = x + y
print(z)

12

In [5]:
x = "'lorena'\" "
l = 'silvia----'

g = x + l
# Las cadenas se concatenan
print(g)

'lorena'" silvia----

In [6]:
print(g)

'lorena'" silvia----

In [7]:
# type muestra el tipo de la variable
type(g)

str

In [8]:
type(3)

int

In [9]:
# print es una función que recibe varios argumentos y cada argumento está diferenciado por la coma. Después de cada coma, la función 'print' añade un espacio.

# mala praxis
print(    g,z  ,    6,     "cadena")

# buena praxis - PEP8
print(g, z, 6, "cadena")

'lorena'" silvia---- 12 6 cadena
'lorena'" silvia---- 12 6 cadena

In [10]:
x = 5
s = "6"

print(x + s)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
# Cambiar de int a str
# built-in

x = 6
print(type(x))

x = str(6)
print(type(x))

<class 'int'>
<class 'str'>

In [16]:
x = 5
z = "6" + str(x)
print(z)

65

In [2]:
# Cambiar de str a int
s = "56"
print(s)
print(type(s))
s = int(s)
print(s)
print(type(s))

56
<class 'str'>
56
<class 'int'>

In [3]:
s = "56a"
s = int(s)
print(s)

ValueError: invalid literal for int() with base 10: '56a'

In [4]:
# Para ver la longitud de una lista de caracteres (lista)
p = "lista caracteres"
print(len(p))

16

In [ ]:
# String, Integer, Float, List, None (NaN), bool
# str, int, float, list, bool

In [5]:
x = 5.875
print(type(x))

<class 'float'>

In [7]:
o = x + 2
print(o)

7.875

In [8]:
x = int(x)
print(x)

5

In [9]:
x = float(x)
print(x)

5.0

In [12]:
l = (2 + 5) * 3
print(l)

21

In [13]:
#Primer paréntesis: pasar a int el 22
#después el segundo paréntesis
m = ((((65 + int("22")) * 2)))
m

174

In [14]:
s = "89"

In [15]:
print(type(int(s)))

<class 'int'>

In [16]:
# los decimales son float. Python permite las operaciones entre int y float
x = 4
y = 4.2

print(x + y)

8.2

In [18]:
t = 4
g = 2
print(t / g)

2.0

In [23]:
# La división normal (/) es siempre float
# La división absoluta (//) puede ser: 
# - float si uno de los dos números (o los dos) son float
# - int si los dos son int 
j = 15
k = 4
division = j // k
print(division)
print(type(division))

3
<class 'int'>

In [24]:
num1 = 12
num2 = 3

suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2 
division = num1 / num2
division_absoluta = num1 // num2

print("suma:", suma)
print("resta:", resta)
print("multiplicacion:", multiplicacion)
print("division:", division)
print("division_absoluta:", division_absoluta)
print(type(division))
print(type(division_absoluta))

suma: 15
resta: 9
multiplicacion: 36
division: 4.0
division_absoluta: 4
<class 'float'>
<class 'int'>

In [26]:
# Jupyter notebook permite que la última línea se imprima por pantalla ( la variable ) hace un print de la última línea
x = 2
k = 4
k
x

2

In [ ]:
# Soy un comentario
# print("Hello Python world!")
# Estoy creando una variable que vale 2
"""
Esto es otro comentario
"""

## Ejercicio: 
### Crear una nueva celda.
### Declarar tres variables: 
- Una con el nombre "edad" con valor vuestra edad
- Otra "edad_compañero_der" que contengan la edad de tipo entero de vuestro compañero de la derecha
- Otra "suma_anterior" que contenga la suma de las dos variables anteriormente declaradas

 Mostrar por pantalla la variable "suma_anterior"

In [27]:
edad = 24
edad_companero_der = 36
suma_anterior = edad + edad_companero_der
print(suma_anterior)

60

In [28]:
# funciones built-in de string
string1 = "hola"
print(string1.upper())

HOLA

## 2. Números y operadores

In [29]:
x = 4
x = x + 1 
print(x)

5

In [30]:
x = 4
x += 1
print(x)

5

In [31]:
### Enteros ###

x = 3

print("- Tipo de x:")
print(type(x)) # Imprime el tipo (o `clase`) de x
print("- Valor de x:")
print(x)       # Imprimir un valor
print("- x+1:") 
print(x + 1)   # Suma: imprime "4"
print("- x-1:")
print(x - 1)   # Resta; imprime "2"
print("- x*2:")
print(x * 2)   # Multiplicación; imprime "6"
print("- x^2:")
print(x ** 2)  # Exponenciación; imprime "9"
# Modificación de x
x += 1 
print("- x modificado:")
print(x)  # Imprime "4"

x *= 2
print("- x modificado:")
print(x)  # Imprime "8"

print("- El módulo de x con 40")
print(40 % x)

print("- Varias cosas en una línea:")
print(1, 2, x, 5*2) # imprime varias cosas a la vez

- Tipo de x:
<class 'int'>
- Valor de x:
3
- x+1:
4
- x-1:
2
- x*2:
6
- x^2:
9
- x modificado:
4
- x modificado:
8
- El módulo de x con 40
0
- Varias cosas en una línea:
1 2 8 10

In [32]:
# El módulo muestra el resto de la división entre dos números
x = 4 % 2 
print(x)

0

In [ ]:
numero = 99

numero % 2  # Si el resto es 0, el número es par. Sino, impar.

In [10]:
numero = 99
print(numero % 3) #divisible entre 3

0

## Título markdown
otro Título

# INPUT

In [13]:
x = int(input("escribe un número:"))
print(type(x))
l = 4 + x 
print(l)

<class 'int'>
49

In [12]:
#si quieres poner decimales en " " tienes que poner float
x = float(input("escribe un número:"))
print(type(x))
l = 4 + x 
print(l)

<class 'float'>
9.7

## 3. Tipo None

In [8]:
#strin int float none para representar la nada

x = None

p = 5 + x

print(x)

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [7]:
x = None
type(x)

NoneType

## BOOLEANS

In [14]:
cierto = True
falso = False
print(type(cierto))

<class 'bool'>

## 4. Listas y colecciones

In [ ]:
#Una colección es:
#lista, conjunto (set), tupla, array, string

In [16]:
# Lista de elementos:

# Las posiciones se empiezan a contar desde 0
s = "Cadena"

In [19]:
print(s[0])

C

In [54]:
s = ""
print(type(s))
print(len(s))

<class 'str'>
0

In [1]:
lista = []
print(type(lista))

<class 'list'>

In [24]:
lista = [3, 7.2, "hola"]
print(lista[2])
print(lista[0])

hola
3

In [25]:
print(lista[-1]) #último
print(lista[-2]) #penúltimo

hola

In [27]:
#Se incluye el de la primera posición pero el de la última posición no
print(lista[0:2])

[3, 7.2]

In [33]:
lista2 = ["hola", 2, [7.2, "x"]]
print(len(lista2))

3

In [34]:
print(lista2[2])
print(lista2[-1])

[7.2, 'x']
[7.2, 'x']

In [35]:
print(lista2[2][-1])

x

In [56]:
lista3 = ["hola", 2, [7.2, "xa"]]
print(lista3[-1][-1][0])

x

In [44]:
lista4 = ["hola", 2, [[7.2, "xa"]]]
print(type(lista4))
print(type(lista4[-1]))
print(type(lista[-4][1]))
print(len(lista4))

<class 'list'>
<class 'list'>

IndexError: list index out of range

In [60]:
lista4 = ["hola", 2, [[7.2, "xa"]]]
print(type(lista4))
print(lista4[-1])
print(type(lista4[-1]))
print(lista4[-1][0])
print(type(lista[-1][0]))
print(type(lista4[-1][0][-1][-1]))
print(lista4[-1][0][-1][-1])

<class 'list'>
[[7.2, 'xa']]
<class 'list'>
[7.2, 'xa']
<class 'str'>
<class 'str'>
a

In [53]:
print(lista4[-1][0])
print(len(lista4[-1][0]))

[7.2, 'xa']
2

In [65]:
#Mostrar el string dado la vuelta

s = "Hola soy Clara"

print(s[::-1])

aralC yos aloH

In [63]:
s = "hola"
lenght = 4
s[1:len(s)]

'ola'

In [66]:
# Para acceder a varios elementos, se especifica con la nomenclatura "[N:M]". N es el primer elemento a obtener, M es el último elemento a obtener pero no incluido. Ejemplo: 

# Queremos mostrar desde las posiciones 3 a la 7. Debemos especificar: [3:8]

# Si M no tiene ningún valor, se obtiene desde N hasta el final. 
# Si N no tiene ningún valor, es desde el principio de la colección hasta M
s[3:len(s)]

'a soy Clara'

In [67]:
#Coge todos los elementos hasta la posición 3 sin incluir
s[:3]

'Hol'

In [68]:
# Agrega un valor a la última posición de la lista
s = "hola"
s = s.upper()
print(s)

HOLA

In [91]:
lista = [4, "x"]
print(lista)

[4, 'x']

In [92]:
lista.append(7)

In [94]:
print(lista)

[4, 'x', 7]

In [95]:
lista = [4, "y", 7]
lista.remove(7)
print(lista)

[4, 'y']

In [97]:
# remove elimina el primer elemento que se encuentra que coincide con el valor del argumento
lista = [4, "y", 7, "y"]
lista.append("s")
lista.remove("y")
print(lista)

[4, 7, 'y', 's']

In [108]:
lista = [4, "x", "y", ["z"]]
lista[-1].append(4) #añade un número entero
print(lista)
lista[-1].append([4])
print(lista)

[4, 'x', 'y', ['z', 4]]
[4, 'x', 'y', ['z', 4, [4]]]

In [110]:
# Accedemos a la posición 1 del elemento que está en la posición 2 de lista
lista = ["l", 9.4, [8.1, "xs"]]
print(lista[2])
print(lista[2][1])

[8.1, 'xs']
xs

In [124]:
#l.reverse()
lista2 = ["l", 9.4, [8.1, "xs"]]
lista2.reverse()
print(lista2)

[[8.1, 'xs'], 9.4, 'l']

In [125]:
lista3 = [2, 4, 6, 8, "o"]
lista3.append(lista2)
print(lista3)

[2, 4, 6, 8, 'o', [[8.1, 'xs'], 9.4, 'l']]

In [126]:
lista3[5][0].append(lista2)
print(lista3)

[2, 4, 6, 8, 'o', [[8.1, 'xs', [...]], 9.4, 'l']]

In [127]:
print(len(lista3[5]))

3

In [132]:
print(lista3[5][0][2])

[[8.1, 'xs', [...]], 9.4, 'l']

In [134]:
lista_pacientes = [["Gabriel..", "algo"], ["Lorena", "inflación"]]
print(lista_pacientes[0])

['Gabriel..', 'algo']

### Colecciones

1. Listas
2. String (colección de caracteres)
3. Tuplas
4. Conjuntos (Set)

In [135]:
# Listas --> Mutables
lista = [2, 5, "caract", [9, "g", ["j"]]]
print(lista[-1][-1][-1])
print(lista[3][2][0]) #si pusiesémos print(lista[3][3][0][0]) también nos devolvería "j" porque es un string si fuese un entero daría error

j
j

In [2]:
lista = [2,5]
tupla = (2,4)
print(len(tupla))

2

In [5]:
#Tupla --> inmutable

tupla = (2, 5, "caract", [9, "g", ["j"]])
print(type(tupla))
print(tupla)

<class 'tuple'>
(2, 5, 'caract', [9, 'g', ['j']])

In [3]:
# Update listas
lista = [2, "6", ["k", "m"]]
lista[1] = 1 #cambiamos lo que está en la posición 1 (6) por el número
lista

[2, 1, ['k', 'm']]

In [5]:
tupla = (2, "6", ["k", "m"])
print(tupla[2])
tupla[2].append("Otro")
print(tupla)
print(tupla[2])

['k', 'm']
(2, '6', ['k', 'm', 'Otro'])
['k', 'm', 'Otro']

In [6]:
tupla = list(tupla)
print(tupla)

[2, '6', ['k', 'm', 'Otro']]

In [8]:
tupla[1] = "5"
print(tupla)
tupla = tuple(tupla)
print(tupla)

[2, '5', ['k', 'm', 'Otro']]
(2, '5', ['k', 'm', 'Otro'])

In [9]:
# Conjuntos

conjunto = [2, 4, 6, "a", "z", "h", 2]
conjunto = set(conjunto)
conjunto

{2, 4, 6, 'a', 'h', 'z'}

In [10]:
conjunto = ["a", "z", "h", 2, 2, 4, 6, True, True, False]
conjunto = set(conjunto)
conjunto

{2, 4, 6, False, True, 'a', 'h', 'z'}

In [11]:
conjunto = ["a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False]
conjunto = set(conjunto)
conjunto

{2, 2.1, 2.3, 2.4, 4, 6, False, True, 'a', 'h', 'z'}

In [12]:
conjunto_tupla = ("a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False)
conjunto = set(conjunto_tupla)
conjunto

{2, 2.1, 2.3, 2.4, 4, 6, False, True, 'a', 'h', 'z'}

In [13]:
conjunto = {"a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False}
conjunto

{2, 2.1, 2.3, 2.4, 4, 6, False, True, 'a', 'h', 'z'}

In [14]:
y = {2,}
print(type(y))

<class 'set'>

In [ ]:
s = "String"
lista_s = list(s)
lista_s

In [ ]:
s = "String"
conj = {s}
conj

In [ ]:
# Cambiar de tupla a lista, remover elemento y convertir en tupla

In [ ]:
conjunto = {2, 5, "h"}
lista_con_conjunto = [conjunto]
lista_con_conjunto[0]

In [ ]:
# No podemos acceder a elementos de un conjunto
lista_con_conjunto[0][0]

## 5. Condiciones: if, elif, else

### Boolean

In [ ]:
True
False

In [ ]:
# Operadores comparativos

In [ ]:
# Diferente

In [ ]:
"""
==  -> Igualdad
!= -> Diferecia
< -> Menor que
> -> Mayor que
<= -> Menor o igual
>= -> Mayor o igual
"""

In [ ]:
# and solo devolverá True si TODOS son True
True and False

In [ ]:
# or devolverá True si UNO es True

In [ ]:
# Sinónimos de False para las condiciones:
# None
# False
# 0 (int or float)
# Cualquier colección vacía --> [], "", (), {}

# El None no actúa como un número al compararlo con otro número
"""
El True lo toma como un numérico 1
"""

# Bucles For, While

In [ ]:
# Lista alturas

## Funciones