# 02 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [2]:
import pandas as pd 
import numpy as np
import requests
import json

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/tle.tsv). Assign it to a variable called .

This time we are going to pull data directly from the internet.

In [29]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/tle.tsv"

In [20]:
 = pd.read_csv(address,sep="\t")

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the most expensive products (item_name)

¿Recuerdas el `map`? En **pandas** tienes el método [`apply`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html) y en para resolver este ejercicio te puede ser muy útil. 

Pero no acaba ahí https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas

In [39]:
["price_w"] = ["item_price"].apply(lambda x: float(x[1:]) )

In [40]:
.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
 5   price_w             4622 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 216.8+ KB

In [48]:
# Máscara : Imprime "item_name" en la posición para cuando se cumpla la condición que tiene en los corchetes de la derecha. El .values sirve para crear un array y para poder acceder a las posiciones. si no ponemos la posicion se muestran todos los valores para los que se cumplen la condicion
["item_name"][["price_w"] == ["price_w"].max()].values[0]

'Chips and Fresh Tomato Salsa'

In [45]:

# mask es la condición que tiene que cumplir. Muestra los valores de la columna "item_name" cuando cumple la condición de mask
mask = ["price_w"] == ["price_w"].max()
["item_name"][mask].values

array(['Chips and Fresh Tomato Salsa'], dtype=object)

### Step 4. How many products cost more than $10.00?

In [49]:
mascara = mask = ["price_w"] > 10.00

In [51]:
x = ["item_name"][mascara].values

In [52]:
print(x)
print(len(x))

['Chicken Bowl' 'Chicken Bowl' 'Steak Burrito' ... 'Steak Burrito'
 'Steak Burrito' 'Chicken Salad Bowl']
1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [57]:
.loc[:,["item_name","item_price"]]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [63]:
.sort_values(by="item_name")

,order_id,quantity,item_name,choice_description,item_price,price_w
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
3132,1248,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
...,...,...,...,...,...,...
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$16.98,16.98
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

V1

In [80]:
# 1 : accediendo a la posición de quantity

.sort_values(by="price_w",ascending=False)

,order_id,quantity,item_name,choice_description,item_price,price_w
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
...,...,...,...,...,...,...
3042,1210,1,Bottled Water,NaN,$1.09,1.09
414,180,1,Canned Soda,[Dr. Pepper],$1.09,1.09
1457,591,1,Canned Soda,[Sprite],$1.09,1.09
1945,787,1,Canned Soda,[Coca Cola],$1.09,1.09
200,89,1,Canned Soda,[Diet Coke],$1.09,1.09

In [81]:
["quantity"].values[0]

15

V2

In [84]:
# 2 : with mask
["quantity"][["price_w"] == ["price_w"].max()].values[0]

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [99]:
["item_name"].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Steak Salad                                4
Salad                                      2
Bowl                                       2
Crispy Tacos                               2
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [98]:
# 1 : Con un for
lista = []
for value in ["item_name"]:
    if value == "Veggie Salad Bowl": 
        lista.append(value)
print(lista)
len(lista)

['Veggie Salad Bowl', 'Veggie Salad Bowl', 'Veggie Salad Bowl', 'Veggie Salad Bowl', 'Veggie Salad Bowl', 'Veggie Salad Bowl', 'Veggie Salad Bowl', 'Veggie Salad Bowl', 'Veggie Salad Bowl', 'Veggie Salad Bowl', 'Veggie Salad Bowl', 'Veggie Salad Bowl', 'Veggie Salad Bowl', 'Veggie Salad Bowl', 'Veggie Salad Bowl', 'Veggie Salad Bowl', 'Veggie Salad Bowl', 'Veggie Salad Bowl']

18

In [104]:
# Con mask, y sumamos la cantidad
quantity = ["quantity"][["item_name"].values == "Veggie Salad Bowl"].values
sum(quantity)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [131]:
quantity_canned_soda = [("quantity")][["item_name"].values == "Canned Soda"].values
print(quantity_canned_Soda)
print(quantity_canned_soda.dtype)
sum(quantity_canned_Soda)

[4 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
int64

126

In [132]:
# Creo que no es la manera más eficiente, preguntar
# Estamos utilizando loc para imprimir la tabla con dos condiciones: que el nombre sea "Canned Soda" y que su cantidad sea mayor a 1

quantity_canned = .loc[(['item_name'] == "Canned Soda") & (['quantity'] > 1),['quantity','item_name']]
print("times:", len(quantity_canned))
quantity_canned

times: 20

      quantity    item_name
2235         4  Canned Soda
171          2  Canned Soda
352          2  Canned Soda
698          2  Canned Soda
2135         2  Canned Soda
700          2  Canned Soda
3866         2  Canned Soda
909          2  Canned Soda
1092         2  Canned Soda
1091         2  Canned Soda
350          2  Canned Soda
2906         2  Canned Soda
2905         2  Canned Soda
3592         2  Canned Soda
3152         2  Canned Soda
51           2  Canned Soda
1944         2  Canned Soda
3364         2  Canned Soda
162          2  Canned Soda
18           2  Canned Soda

In [130]:
len(quantity_canned)

20