In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("nutition.csv")

In [5]:
data.iloc[:,:10]

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value
...,...,...,...,...,...,...,...,...,...,...
53387,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value
53388,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value
53389,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value
53390,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value
53391,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value

In [6]:
data.iloc[:,10:20]

,Data_Value,Data_Value_Alt,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Total,Age(years),Education
0,32.0,32.0,NaN,NaN,30.5,33.5,7304.0,Total,NaN,NaN
1,32.3,32.3,NaN,NaN,29.9,34.7,2581.0,NaN,NaN,NaN
2,31.8,31.8,NaN,NaN,30.0,33.6,4723.0,NaN,NaN,NaN
3,33.6,33.6,NaN,NaN,29.9,37.6,1153.0,NaN,NaN,Less than high school
4,32.8,32.8,NaN,NaN,30.2,35.6,2402.0,NaN,NaN,High school graduate
...,...,...,...,...,...,...,...,...,...,...
53387,NaN,NaN,~,Data not available because sample size is insu...,NaN,NaN,NaN,NaN,NaN,NaN
53388,NaN,NaN,~,Data not available because sample size is insu...,NaN,NaN,NaN,NaN,NaN,NaN
53389,NaN,NaN,~,Data not available because sample size is insu...,NaN,NaN,NaN,NaN,NaN,NaN
53390,NaN,NaN,~,Data not available because sample size is insu...,NaN,NaN,NaN,NaN,NaN,NaN
53391,NaN,NaN,~,Data not available because sample size is insu...,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')